[2019-02-25 14:18] zabuldon opened #1 "PCB"
Is it possible to share PCB as well?

[2019-02-25 17:58] martonborzak commented on #1
Yes, I am working on an updated version. As soon as it's done and working I'll share the schematics and gerber files.

[2019-03-01 08:40] martonborzak commented on #1
Hey @zabuldon, just uploaded a first draft of the schematics. It is not final, but almost :)

[2019-03-05 05:53] zabuldon commented on #1
It would be nice to see BOM for PCB, I'm trying to reproduce this.

[2019-03-06 19:39] martonborzak commented on #1
I am still testing some things. As soon as I locked down the parts, I'll upload it.

[2019-04-13 12:55] #1 closed, assigned to nobody

[2019-04-17 20:17] gvdhoven opened #12 "Relocate information on build environment"
Information is missing in the software section describing on how to build your own version of the YIO remote software.

[2019-04-17 20:40] #12 closed, assigned to nobody

[2019-04-20 11:34] gvdhoven opened #31 "WiFi access point mode / Bluetooth transfer"
Currently the remote scans for networks and allows you to choose one. In case you have multiple remotes (imagining a kickstarter pledge) you would have to repeat this process multiple times.

Having the remotes start in AP mode, would allow you to connect with one remote using your mobile device (iOS/Android), since it just serves a website; then post-setup the remote you’ve setup your WiFi with c

[2019-04-20 16:02] martonborzak opened #33 "default language translation not loading if homePath variable is used"
For some weird reason, when I change the code from this:
`JsonFile {
        id: default_language
        name: "/Users/marton/Qt\ Projects/remote/translations/en-us.json" // "file:///usr/bin/remote/translations/en-us.json"
    }`

to this:
`JsonFile {
        id: default_language
        name: homePath + "/translations/en-us.json" // "file:///usr/bin/remote/translations/en-us.json"
    }`

it won

[2019-04-20 16:35] martonborzak commented on #33
Ok, I think I have figured it out :)

[2019-04-20 16:57] martonborzak commented on #33
Issue fixed.

[2019-04-20 16:57] #33 closed, assigned to nobody

[2019-04-20 22:49] Tosko4 opened #35 "RGB Support for light bulbs"
Currently we only have the option to turn the lights on or off, and dim the lights.

[2019-04-20 22:50] Tosko4 opened #36 "Light scenes on Yio Remote"
Would be wonderful to be able to active a light scene based on what you set it up to do. Like: movie mode. Dim some lights, turn off others. All in one press of a button.

[2019-04-20 22:52] Tosko4 opened #37 "Right to left languages support - Yuvalkob"
Submitted by: Yuvalkob - [link](https://community.yio-remote.com/t/right-to-left-languages-support/54)

Hi
I think that Hebrew/Arabic (or any other right to left language) support will be nice. I think that QT can handle it nicely (According to the examples, no other GUI changes needs to be done in order to support this feature)

[2019-04-20 22:54] Tosko4 opened #38 "Support for BT beacons - HeinzS"
Created by HeinzS - [link](https://community.yio-remote.com/t/support-for-bt-beacons/59)

One possibility for the extra room in the dock is to add a BT beacon such as : https://shop.ruuvi.com/product/ruuvitag-3-pack/ 2

This way, a user could carry their remote from room to room and have it automatically pull up the correct profile for that room.

A software example of using rPi with the above is:

[2019-04-20 22:55] Tosko4 opened #39 "Hard buttons on remote - AdrianLiteAutomation"
Created by AdrianLiteAutomation - [link](https://community.yio-remote.com/t/hard-buttons-on-remote/55)

Hardware - I would like to see back lit buttons to help with distinguishing buttons in the dark.
Software - I think buttons should have 2 configuration possibilities.
1 a uniform input device that always send the same commands no matter what device you are controlling
2 a default command for mos

[2019-04-20 22:57] Tosko4 opened #40 "Implement Network Scan / direct HW control - Carp3-noctem"
Created by Carp3-noctem - [link](https://community.yio-remote.com/t/implement-network-scan-direct-hw-control/45)

Would love to see a Feature like:
1- Scan your local Network during first Setup and Check ability to Control found Devices
2- Control devices (e.g. Sonos) direclty via Remote
3- Backchannel to used Backend (Homey, HA, …) to provide control possibilitys

When this is used, the Remote it

[2019-04-20 22:58] Tosko4 opened #41 "Screensaver when charging - AdrianLiteAutomation"
Created by AdrianLiteAutomation - [link](https://community.yio-remote.com/t/screensaver-when-charging/38)

Default screen should be off when charging.
But I would like to have an option of enabling a clock on the screen of the remote, something simple like a black screen with white digital time and date. Later, optional screensavers like photos or logos.
Also I would to have the option of triggeri

[2019-04-21 08:09] gvdhoven commented on #36
I think it should 'extend' light scenes, but be more of a recipe in general; what if you want to close your curtains or blinds as well? Switch inputs to devices (future use case)? I would love to see that 'recipes' can combine multiple devices from multiple categories;

E.g. movie mode recipe 'power on' command:
- Close curtains if during the day
- Turn off all lights except..
- ..

E.g. movie mod

[2019-04-21 08:11] martonborzak commented on #36
HA supports this already. I think this should not be a priority at the moment. But at a later stage could be a nice feature where you can combine multiple hubs and devices into scenes.

[2019-04-21 08:13] gvdhoven commented on #36
Yes, exactly what i'm talking about :) Maybe using node-red or something..

[2019-04-21 08:15] martonborzak commented on #35
This is not that hard to implement, and right now I am working on finishing up the light component, so I'll move this to implementation.

[2019-04-21 08:32] martonborzak commented on #35
Just putting it here for reference:
[code]

[2019-04-21 09:10] martonborzak opened #50 "Move mainNavigationSwipeview items to loaders"
This will hopefully avoid loading of all pages when not necessary, therefore lower CPU usage. Needs to be tested before implemented.

[2019-04-21 12:32] carp3-noctem commented on #31
Sharing the Setup via Bluetooth should also be an option. So only one time Setup and then sharing the Information with WiFi or Bluetooth between all remotes.

[2019-04-21 12:34] carp3-noctem opened #51 "Dedicate Remote to a Room / Multiroom Support"
A Room support for the Remote would be awesome, so you can select in which room the remote is and then only use the Hardware dedicated to the applicable room.
Also a switcher / select well to adjust the Room for the Remote would be a nice to have option.

[2019-04-21 13:10] martonborzak commented on #31
I quite like this idea @carp3-noctem

[2019-04-21 13:29] martonborzak opened #52 "Change localisation to use Qt's built in version"

[2019-04-21 15:12] #50 closed, assigned to martonborzak

[2019-04-21 15:29] Tosko4 commented on #52
please include the new file structure too

/translations/<language_code>/translations.json or translations.ts

<img width="783" alt="Screenshot 2019-04-21 at 16 23 46" src="https://user-images.githubusercontent.com/1294707/56472129-ff9fae80-645a-11e9-821a-3104aa56bb97.png">

[2019-04-22 14:00] #52 closed, assigned to nobody

[2019-04-22 14:14] martonborzak opened #67 "QQmlEngine retranslate bug"
`qrc:/components/light/homeassistant.qml:15:17: Unable to assign [undefined] to QObject*`

The above error pops up when changing languages due to QQmlEngine::retranslate() function:

Doesn't affect anything, but at some point it has to be resolved.

As a workaround, after every language change, the integrations and components are reloaded.

[2019-04-22 14:34] martonborzak commented on #67
This workaround fixes the issue: https://wiki.qt.io/How_to_do_dynamic_translation_in_QML

[2019-04-22 14:34] #67 closed, assigned to nobody

[2019-04-23 13:44] martonborzak opened #78 "Show rooms in the menu bar"

[2019-04-23 18:07] martonborzak opened #81 "Add config options for settings page elements"
Save the config from the settings page in the config file:

- auto brightness
- dark mode
- wifi timeout
- shutdown timeout

[2019-04-23 18:57] owarek opened #83 "Room enumeration in bottom tray of main screen"
Is there an option to change the bottom tray (rooms, lights, blinds, etc.)  to enumeration of rooms? It would be quite "messy" to search for the correct room in lights tab when you have a lot of them. It would be much faster to find correct room in the bottom tray and then the correct device. This would be totaly awesome. Thank you for your work.

[2019-04-23 20:33] larsenpedersen opened #85 "Add switch to headers in “Areas view”"
Add a switch next to the header for each area.

Say that I wanted to turn on all lights in the entrance - It would be way easier with one "area switch" compared to a switch for each light in the entrance.

[2019-04-24 04:31] liteautomation1 commented on #83
Great idea. Or even just add a rooms menu option that then displays all room within a system.

[2019-04-24 14:36] gvdhoven commented on #51
Related to #38 ?

[2019-04-24 14:37] gvdhoven opened #88 "Change bottom menu to layered layout"
Now we have 'rooms' and the rest; how about we change that to a layered approach?
Areas | Favorites | Recipes | Devices | Integrations
1) Areas instead of rooms; why? because what if i want to add e.g. my irrigation system or Hue lights in the garden?
2) Favorites; self explanatory
3) Recipes; to mimic the Neeo remote behavior or "Scenes" behavior that Hass.io has; e.g. "Movie mode" which can inte

[2019-04-24 14:49] gvdhoven commented on #85
updated description; change "Room" to "Area"

[2019-04-24 14:54] carp3-noctem commented on #51
@webunity
Can be but is not intend to require a beacon

[2019-04-24 15:01] gvdhoven commented on #51
yeah so Area support is there, but these have to be provided by the integrations; e.g. Home assistant has areas for this; is that what you mean?

[2019-04-24 18:50] #81 closed, assigned to nobody

[2019-04-24 19:07] martonborzak commented on #88
@Webunity I can imagine it in a way that it slides to that area (room) page when it detects the beacon. Could be a nice solution.

[2019-04-24 19:09] martonborzak commented on #51
If there's no support for that, you'll still be able to assign a room to any entity. So it's not dependent on the integration.
If the integration supports rooms, that is helpful at the setup process, to automatically sort it out. Otherwise it's manual entry.

An entity config entry looks like this:
[code]

Of course we need to change room to area.

[2019-04-24 19:17] martonborzak commented on #39
Backlit buttons unfortunately not going to happen in this first hardware release. The buttons are/will be implemented this way by default. I'm closing this issue due to this.

[2019-04-24 19:17] #39 closed, assigned to nobody

[2019-04-24 19:18] martonborzak commented on #37
I think if we have the translation this will work automatically.

[2019-04-24 20:57] martonborzak opened #91 "Add Software update setting to Settings"

[2019-04-24 21:13] martonborzak opened #93 "Change menu from Grid to ListView QML"

[2019-04-24 21:23] martonborzak opened #94 "Notification when sensor value change"
Support for sensors that can trigger notifications. For example: a doorbell sensor is on, a notification pops up on the remote

[2019-04-24 21:50] Tosko4 commented on #94
Or a locked area (garage doors), when the sensor changes state to notify too as an alert

[2019-04-25 05:29] carp3-noctem opened #97 "http server (download, upload backup, restore Files, manage remote)"
Integration of a lean http server with possibility to get direct access to the remote for e.g.
- download / upload files (e.g. config, pictures, buttons, styles)
- backup & restore config / remote
enhanced feature
- cofigure the remote from website hosted on it

this should be accessible, when remote is on and maybe all the time, when on charger (both Qi & Dock)

[2019-04-25 07:52] gvdhoven commented on #94
I think this one needs some discussion before we start implementing it. because if we do something like a websocket server-ish thingy, and we switch off wifi, we might miss sending out notifications, or be too late.

[2019-04-25 07:54] gvdhoven commented on #83
@liteautomation1 that is the idea; see #88 for current ideas

[2019-04-25 07:54] #83 closed, assigned to nobody

[2019-04-25 07:56] martonborzak commented on #94
Yes. The details need more thoughts but in general as a feature would be nice.
If we have an esp in the dock and a Bluetooth connection to the remote that could be a solution.

[2019-04-25 07:57] gvdhoven commented on #88
1) Fixed with https://github.com/martonborzak/yio-remote/commit/2c13cf46e329d31050fd5eedbbe9a115a8464293

[2019-04-25 07:59] gvdhoven commented on #94
What if you have multiple remotes and 1 is for example in the range of the dock and the other one is not (which happens to be the one laying next to you in the kitchen) then you might miss a notification.

[2019-04-25 08:01] martonborzak commented on #94
True. But I guess there’s no solution that could make up for range issues.

[2019-04-25 18:39] martonborzak opened #99 "Improve the connecting screen"
Do not show the connecting screen when no integration is configured.
If more integrations are configured, show them on the connection screen:
Connecting 1/2 Home Assistant
Connecting 2/2 Homey

[2019-04-25 19:04] wayfarer003 commented on #97
Suggest adding an auto local backup feature that cycles around some fixed number of copies over some time frame (days/weeks, etc).  This would be to help avoiding the automatic config changes from wiping out your local config file completely.

[2019-04-26 22:08] martonborzak opened #108 "Error when building based on new .pro file"
I've tried it now, but got an error:
[copyConfig] Error 64

It's the .pro file that gives this. The rest of the code works fine.

Narrowed it down to this:
`QMAKE_EXTRA_TARGETS += first copyConfig copyTranslations`

_Originally posted by @martonborzak in https://github.com/martonborzak/yio-remote/pull/107#issuecomment-487213277_

[2019-04-27 18:32] gvdhoven commented on #108
Did you fix this or not? Since you merged the pull request? Can you try this:
[code]
Taken from the [Qt documentation](https://doc.qt.io/qt-5/qmake-advanced-usage.html)

[2019-04-27 18:42] martonborzak commented on #108
Haven't fixed it yet. This one gives no error, but doesn't copy the files.

[2019-04-27 19:14] #93 closed, assigned to nobody

[2019-04-28 17:13] #91 closed, assigned to nobody

[2019-04-28 17:16] martonborzak opened #120 "Update software update helper bash script"
Currently the script just updates the remote app itself:
[code]

It should be updated to pull a zip file, that contains all the helper scripts and config files, etc and replace everything that is inside /usr/bin/remote.

1. kill python and remote
2. make a backup of the /usr/bin/remote folder
3. delete the folder
4. download the URL that is given to the bash script > $1
4. extract the zip file to

[2019-04-28 18:03] gvdhoven commented on #120
How about:
1. download the URL that is given to the bash script > $1
2. extract the zip file to /usr/bin/remote-(update-timestamp)
3. give executable permissions to all .sh files and the remote file
4. remove previous backups
5. make a backup of the /usr/bin/remote folder (if not already exist, maybe add timestamp to folder)
6. kill python and remote `by pid`
7. delete the /usr/bin/remote folder
8

[2019-04-28 19:26] martonborzak commented on #120
Good idea! Do you want to make a pull request for this?

[2019-04-29 07:04] gvdhoven commented on #120
I've did some work on it but it is untested since i don't have a pi with the correct software on it. It still might some work but should give you a headstart.

[2019-04-29 12:36] #120 closed, assigned to nobody

[2019-04-29 12:38] gvdhoven commented on #108
maybe there is a post-build step we can do on a mac to pull in those files. I'll see what i can do to fix it.

[2019-04-29 12:51] martonborzak commented on #108
On a mac it can be done with the INSTALLS += that put's it in the bundle

[2019-04-29 12:51] martonborzak commented on #108
I'll test it in the evening and push a version if it works.

[2019-04-29 18:56] martonborzak commented on #99
![Screenshot 2019-04-29 at 20 54 54](https://user-images.githubusercontent.com/23139408/56919535-1d0af300-6ac1-11e9-876f-0dced0a43527.png)

Design is done for the new notification bar.

[2019-04-29 18:57] martonborzak commented on #88
2. Also done.

[2019-04-29 19:12] gvdhoven commented on #99
Few ideas on the left design:
- Maybe have the "1/2" inside the animated circle?
- Why rounded and not square and full width of the remote (just like the "teardrop" info box at the bottom?
- Have that square slide in down behind the time and battery level (and slide up when done)
- Maybe no box but just a string dead center inside that small bar between the time and battery level?

Regarding right

[2019-04-29 19:43] #108 closed, assigned to gvdhoven, martonborzak

[2019-04-29 19:46] martonborzak commented on #99
I'd like to keep all the popups and notifications "over" the UI. These things are not permanent.

Red, because it's error. I'll make a revision that makes it more clean what integration failed.

[2019-04-30 06:26] gvdhoven commented on #99
Re-looking at the screens today; what if you move the spinner to the right, so that the text aligns on the left saying "Connecting (1 of 2)" with on the new line "Home Assistant" (because it can also read "Domoticz" / "Homey" or even "SomeFancyLanDevice" (e.g. non-integrations) and then in the error scenario you can switch "Connecting (1 of 2)" to "Connection failed" -> e.g. remove the cross altog

[2019-05-01 10:11] martonborzak opened #130 "Detect touch events in Qt"
Looking into detecting touch events in Qt. I'm trying to port the python script to Qt so Qt itself would look at /dev/input/event0 and reset the display standby timer when a touch event is detected. Anyone has some time or ideas to look into this? :smiley:
[https://doc.qt.io/qt-5/qtouchevent.html](https://doc.qt.io/qt-5/qtouchevent.html)

[2019-05-01 11:04] gvdhoven commented on #130
Based on Discord #coding channel (moved here for discussion reference);
There is a sample implementation in Qt; https://doc.qt.io/archives/qtopia4.3/tut-deviceexample.html

`The constructor opens the keyboard device, /dev/input/event0. A QSocketNotifier is used to get asynchronous notification on the availability of data from the device.`

[2019-05-03 22:01] #130 closed, assigned to nobody

[2019-05-05 10:54] martonborzak opened #132 "Create class in Qt for BQ-27441 battery fuel gauge"
Create a class in Qt for the BQ-27441 battery fuel gauge using the wiringpi I2C library.

Some links for a start:
[https://github.com/chintanp/i2c-charger/tree/master/BQ-27441-Gauge/c](https://github.com/chintanp/i2c-charger/tree/master/BQ-27441-Gauge/c)
[https://github.com/sparkfun/Battery_Babysitter/tree/master/Libraries/Arduino/src](https://github.com/sparkfun/Battery_Babysitter/tree/master/Lib

[2019-05-09 19:12] #132 closed, assigned to nobody

[2019-05-12 08:30] martonborzak opened #135 "Move hardware handling to separate threads to avoid blocking the UI"

[2019-05-12 11:03] martonborzak opened #136 "Add statistics to settings page"
Add statistics to the settings page about usage:
- screen on time
- average power usage

[2019-05-13 20:53] martonborzak commented on #99
![Screenshot 2019-05-13 at 22 45 19](https://user-images.githubusercontent.com/23139408/57653354-e3aea900-75d1-11e9-94ea-44f4fc2df670.png)
![Screenshot 2019-05-13 at 22 53 22](https://user-images.githubusercontent.com/23139408/57653363-eb6e4d80-75d1-11e9-8ab6-3aa660456e08.png)

I'll just post here as well for reference.

[2019-05-14 12:25] gvdhoven commented on #99
i would remove the "Notifications" label inside the drawer, since it can also be errors and make the rounded corners of the notifications thesame as e.g. Apple TV (same box layout)

[2019-05-14 16:41] martonborzak commented on #136
So a visualisation of the ideas. Idea is that it would record the % and power every 10 minutes and would display it in the settings page.

![Screenshot 2019-05-14 at 18 40 17](https://user-images.githubusercontent.com/23139408/57715842-ecf25100-7677-11e9-8f1e-ca2352639317.png)

[2019-05-15 20:15] ChristianRiedl opened #140 "Add integrations without recompiling (Plugin DLL)"
I verified that it is possible to add integrations with a plugin dll implemented in Qt C++. Until now i was not able to find a solution to implement such a dll with Qt Quick / qml.

[2019-05-22 09:28] gvdhoven opened #148 "Running on the mac; some issues"
[code]

2 issues;
1) When booting, wait until connected to load the devices (probably solves all the `Unable to assign [undefined] to int` issues). This has UI impact; preferably wait with showing ANY ui until 'connected'. As reported to Marton via Discord in PM.
2) Fix battery level on mac to report a fixed value

[2019-05-22 10:09] gvdhoven commented on #148
battery level seems to be fixed now, issue '1' remains.

[2019-05-26 12:02] martonborzak commented on #148
I have to revert all your changes, because it generates a lot of errors on the actual hardware. You cannot get values out of the battery fuel gauge before it's initialised and so on.

[2019-05-26 13:16] martonborzak commented on #148
@Webunity the issue is caused by having empty configuration entries in `config.json`. I removed the empty home assistant and homey config options. Everything works. Closing the issue.

[2019-05-26 13:16] #148 closed, assigned to nobody

[2019-05-26 17:10] martonborzak commented on #140
I am no expert in this, but aren't DLLs are Windows specific things?

[2019-05-29 16:05] martonborzak opened #156 "Replace __linux__ with __arm__ so the software can be tested on linux PCs"

[2019-05-30 18:59] #99 closed, assigned to nobody

[2019-05-31 09:26] martonborzak opened #164 "Proximity detection false trigger"
Proximity sensor triggers interrupt even when the set threshold is not met.

This happens after some time. I cannot recreate the issue, seems to be random. Needs more investigation to track down the cause.

[2019-05-31 15:48] #136 closed, assigned to nobody

[2019-05-31 15:54] martonborzak opened #167 "Add button to settings page to restart proximity sensor"
Add button to settings page to manually restart the proximity sensor.
Check if the proximity sensor reports below 10, then restart it automatically to fix probably #164

[2019-05-31 15:56] martonborzak commented on #167
Add also proximity settings slider.

![Screenshot 2019-05-31 at 17 55 31](https://user-images.githubusercontent.com/23139408/58718219-5b9c1200-83cd-11e9-9d81-9bafa88cdb97.png)

[2019-05-31 16:10] martonborzak opened #168 "Calibrate battery gauge on every start"
Calibrate the bq27441 fuel gauge on every powerup, but not at restarts. Add a button to settings to be able to do it manually as well.

[2019-05-31 16:12] martonborzak opened #169 "Fix systemd startup scripts"
Fix the systemd services to start up the remote properly.
[Yio Remote Buildroot](https://github.com/martonborzak/yio-remote-buildroot)

1. Turn on backlight as soon as possible
2. Initiate the display via I2C. Needs I2C to be loaded. And display splash.png
3. Launch the app when the above is done.

[2019-05-31 16:27] #156 closed, assigned to nobody

[2019-06-01 10:49] #164 closed, assigned to nobody

[2019-06-07 11:53] martonborzak opened #184 "Use linux watchdog to restart the Pi when the remote app crashes"
`/dev/watchdog`

[2019-06-09 16:44] #35 closed, assigned to nobody

[2019-06-10 07:15] #169 closed, assigned to nobody

[2019-06-10 11:13] martonborzak opened #193 "Push data back to hub integrations"
Ability to push data back to integrations. For example: temperature, battery level, etc. You would create a sensor for these and the remote then updates these sensors.

[2019-06-20 18:00] #168 closed, assigned to nobody

[2019-06-29 12:36] martonborzak opened #205 "Rework i2c communication"
Rework the i2c communication with multiple devices, so when there is a communication in progress with one slave device, the others will queue up.

[2019-07-11 23:10] #140 closed, assigned to nobody

[2019-07-20 13:01] martonborzak commented on #205
After investigation, might not be necessary. Closing issue.

[2019-07-20 13:01] #205 closed, assigned to nobody

[2019-07-20 13:02] martonborzak commented on #184
Instead, maybe just relaunch the app. Create a simple script that periodically checks if the app is running.

[2019-07-20 13:03] martonborzak commented on #51
@carp3-noctem You're thinking that the remote would only show one specific room's entities? So won't be able to navigate to another room? Or just set the "start page" to that room?

[2019-07-20 13:07] martonborzak opened #219 "Check translations and update translation files"
There has been a lot of code update recently, therefore it would be cool to go through all the files and check if all the text elements have the translation marker. Also would be nice to add comments for the translators to give more information about the context.

[2019-07-20 14:00] carp3-noctem commented on #51
As initial yes, and then the user can enable or disable other rooms per remote used.

Meaning: when remote is set to living room, this is the only room available on the remote by default.
It makes less sense to switch on / off the light in the basement.
But if a user would like to have control over them, he can enable it.

[2019-07-20 14:56] martonborzak commented on #51
Got it! Thanks!

[2019-07-23 09:46] martonborzak commented on #38
Implemented

[2019-07-23 09:46] #38 closed, assigned to nobody

[2019-07-24 08:05] martonborzak commented on #97
Lighttpd is now working on the remote. Can be turned on and off from settings. Just need a frontend to do all the stuff

[2019-07-24 11:43] mcarter00 commented on #97
What functions do you envision on the frontend?

[2019-07-24 16:56] martonborzak commented on #97
Ultimate goal is to have a web based configuration interface. So you don't have to do everything on the remote. Including backup/restore, etc.

[2019-08-17 19:45] carp3-noctem opened #228 "Yio Remote FW 0.1 Bugs"
~~ - Language Selection: Deutsche needs to be Deutsch ~~
- German Language is used, Setting Reboot and Shutdown buttons are out of display range (showing in the next left / right entry)
- Uptime uses wrong time format (0:0:00 should be 00:00:00)
- ~using mediaplayer (autoplay) grapfic is cutted left and right to get the hight~
- ~navigation via direction keys leads to main menu stays in display le

[2019-08-18 13:33] martonborzak commented on #228
The image comes in various formats, so the remote crops it to fit in the background. I'd say this is a feature :)

[2019-08-18 13:34] martonborzak commented on #228
~~This can be fixed on [crowdin](https://translate.yio-remote.com).~~

My bad. It was translations.json :) Fixed now.

[2019-08-19 07:27] carp3-noctem commented on #228
Wouldn't it be better to display it in full width and crop / black stripe the height?

[2019-08-19 07:45] martonborzak commented on #228
I've tried that but I'm not a big fan of black bars. Alternative option
could be to use a service to find an image with the right aspect ratio. I
did that with the movies.

On Mon, Aug 19, 2019 at 9:27 AM Markus M. <notifications@github.com> wrote:

[2019-08-22 19:16] martonborzak commented on #31
Access point mode implemented. Bluetooth sharing still needs to be done.

[2019-08-22 19:35] martonborzak opened #230 "Add timezone and location config to the setup flow"
When entering the wifi credentials, grab the timezone and locale info from the browser. Display it to the user and have the option to manually change it.

[2019-08-22 20:11] wayfarer003 opened #231 "Add a developer operation mode"
On the physical hardware a couple of issues came up when running with partial hardware
- Without a battery at 0 charge the battery charge screen can not be dismissed
- With a battery but running on a bench power supply the 100% charge screen can not be dismissed.  This requires turning off the bench supply in order to use the remote (forces battery usage)

A developer mode could have the follow fe

[2019-09-01 20:39] carp3-noctem opened #232 "Wi-Fi Setup: Wi-Fi list flooded by entries"
Displayed Wi-Fi Networks list can be endless repeated with same networks when Setup is done multiple times.

[2019-09-01 20:43] carp3-noctem commented on #230
Grap and display is working.
Manual change needs to be done.

[2019-09-01 20:56] carp3-noctem commented on #228
You are right, black bars should always be the last step to use.
Maybe we should check out coverartarchive.org they seems to have images that are available via api and in the same formfactor.

[2019-09-01 21:44] martonborzak commented on #232
Fix is already there for this :) Have to test it.

[2019-09-04 08:58] #31 closed, assigned to nobody

[2019-09-04 08:59] martonborzak commented on #31
Implemented

[2019-09-05 17:45] martonborzak commented on #232
Tested and fixed.

[2019-09-05 17:45] #232 closed, assigned to nobody

[2019-09-05 17:46] #167 closed, assigned to nobody

[2019-09-18 11:18] martonborzak opened #235 "Add error handling when loading config.json file"

[2019-09-21 19:14] #235 closed, assigned to nobody

[2019-09-28 17:56] nklerk opened #271 "Webconfig responce with code 302 and wrongly redirects to yio.remote"
**Request:**
[code]

**Response:**
[code]

[2019-09-29 20:41] #41 closed, assigned to nobody

[2019-09-29 20:42] #88 closed, assigned to nobody

[2019-09-29 20:42] #219 closed, assigned to nobody

[2019-10-04 21:29] nklerk opened #283 "Media controls naming proposal"
To MAP Buttons to groups and keep naming concequent. this is a naming proposal.

** Transport and mediacontrolls
PLAY
PAUSE
PLAYTOGGLE
STOP
FORWARD
REVERSE
NEXT
PREVIOUS
INFO
RECORDINGS
RECORD
LIVE

** digits
DIGIT 0
DIGIT 1
DIGIT 2
DIGIT 3
DIGIT 4
DIGIT 5
DIGIT 6
DIGIT 7
DIGIT 8
DIGIT 9
DIGIT 10  // Some countries use this button
DIGIT 10+// Some countries use this button
DIGIT 11  // Some countr

[2019-10-05 09:59] martonborzak opened #289 "Update software update"
Now that the repos were moved, we need to update the software update mechanism with the new URLs.

[2019-10-05 19:06] nklerk opened #290 "Map directional buttons to media player UI while mediaplayer is maximised."
We'll need to map directional buttons to media player UI component while mediaplayer is maximised.

[2019-10-06 19:51] martonborzak opened #291 "Adjustments needed for the new UI"
* bluetooth room detection needs to be adjusted to accommodate for the new setup
* group switches need code to act

[2019-10-06 19:54] #85 closed, assigned to nobody

[2019-10-06 19:55] martonborzak commented on #51
I think this can be done with the new improved way we handle the UI. Closing the issue. If not, please reopen it.

[2019-10-06 19:55] #51 closed, assigned to nobody

[2019-10-06 20:01] martonborzak opened #293 "Screen on time calculated wrong"
Screen on time looks correct, but after some time it ends up being a big number. Screen off time looks correct all the time.

[2019-10-07 15:12] carp3-noctem commented on #293
Pushed a fix to /dev branch.

[2019-10-08 05:01] #293 closed, assigned to nklerk, martonborzak

[2019-10-08 16:39] martonborzak opened #294 "Move standby control to c++"
Move everything that is in StandbyControl.qml to a globally available C++ class.

[2019-10-08 16:43] martonborzak opened #295 "Initialize classes as setcontextproperty"
- [ ] DisplayControl
- [ ] drv2605
- [ ] bq27441
- [ ] ProximityGestureControl
- [ ] TouchEventFilter
- [ ] InterruptHandler (?)

[2019-10-08 19:07] carp3-noctem commented on #283
List of Buttons from enigma2 Settop Receiver is available here:

https://docs.google.com/spreadsheets/d/1DlcXXRLvs-AKHAxlF2KolwLmICR3OC4liS-9Cn0K48c/edit#gid=0

[2019-10-08 19:11] carp3-noctem commented on #283
Streaming Providers:
Amazon Video
Netflix
Hulu
YouTube
waipu.tv
sky
sling
vudu
appleTV
HBO now
.
.
.

[2019-10-09 05:53] nklerk commented on #283
I propose “SERVICE ...” for steaming services just like input ...

[2019-10-09 06:04] nklerk commented on #283
I've added missing name proposal. Added: SERVICE & OUTPUT.

[2019-10-11 17:40] #291 closed, assigned to martonborzak

[2019-10-13 20:00] martonborzak opened #302 "Add loading animation after profile change"

[2019-10-14 15:03] zehnm commented on #271
I just ran into this yesterday. Since I'm currently working on some fixes in the buildroot project, I'll try to fix it.
@martonborzak Are there any plans to move the www sources from the buildroot repository into a dedicated project? Is this the [web-configurator](https://github.com/YIO-Remote/web-configurator)?

[2019-10-14 15:15] martonborzak commented on #271
It’s the web-configurator repo. Haven’t moved it there yet I think.

[2019-10-14 15:15] zehnm commented on #231
This is on my TODO list as well :-)
Any preferences or ideas on how to activate developer mode? My thoughts so far:

- control file on /boot partition (Fat partition, mountable on any OS)
- switching config.txt and cmdline.txt on /boot partition (required to disable DPI display and use HDMI)
- configuration file
- specific button presses on boot enters developer mode

[2019-10-14 15:19] zehnm commented on #271
Ok, please wait for a few hours. I'll send a PR from my cloned buildroot repo with some www fixes.

[2019-10-14 15:21] martonborzak commented on #231
Thanks @zehnm ! :)

I think the developer mode is more useful when you're running the app on your PC or Mac.
You can run the code from Qt on the actual hardware and see all the console output on your host machine.

[2019-10-14 15:22] martonborzak commented on #271
Great! Thank you!

[2019-10-14 16:50] martonborzak commented on #231
I think an option could be to select the dev mode on the remote and then it reboots into it. It's hard to detect button presses at boot, because you have to wait for the driver to load.

[2019-10-14 17:00] nklerk commented on #271
Im currently working on the webconfigurator. (And the corresponding API part) the configurator probably won’t use any server side scripts. (if i manage to detect the yio IP within js) Might be good to know. I’m using a websocket between yio and JavaScript to transfer data back and forth.

[2019-10-14 18:47] martonborzak opened #303 "Add slider in settings to change dock LED brightness"

[2019-10-14 18:48] martonborzak opened #304 "Add slider in settings to change proximity sensitivity"

[2019-10-15 19:02] nklerk opened #305 "Intrgrations exposing intergration specific settings to YIO-API"
Configurations differ per intergration. for the web configuration this means seperate coding per intergration.

The intergration exposes it's parameter options so the web configuration can expose them to the user. Saving the configuration results in a configuration that can be read by the intergration.

[2019-10-15 19:04] nklerk commented on #228
Would it be an idea to seperate the issues? this way we can better handle them

[2019-10-15 19:05] martonborzak commented on #228
Good idea

[2019-10-15 19:06] martonborzak opened #306 "German Language is used, Setting Reboot and Shutdown buttons are out of display range (showing in the next left / right entry)"

[2019-10-15 19:06] martonborzak opened #307 "Uptime uses wrong time format (0:0:00 should be 00:00:00)"

[2019-10-15 19:06] martonborzak opened #308 "cleaning mode is deactivated"

[2019-10-15 19:06] martonborzak opened #309 "Wifi selection is not working in settings"
- [x] wifi selection on remote leads to input field without functioning keyboard
- [x] Wi-Fi signal strength is empty
- [x] SSID name with spaces is not displayed correctly, only first word is shown

[2019-10-15 19:07] martonborzak opened #310 "CPU temp is shown in xx.xxx°C sometimes, can be cutted to xx -> less load?!?"

[2019-10-15 19:07] #228 closed, assigned to nobody

[2019-10-16 17:52] martonborzak opened #311 "Notifications needs to be updated due to updated UI backend"

[2019-10-18 08:45] martonborzak opened #312 "Add logic to check incoming config"
Check the incoming config if it's a valid json and also that it has all the necessary keys and values. If not, send error message and discard the config.

[2019-10-18 09:04] zehnm commented on #271
I checked the shell scripts setting up WiFi and the web server:

- At firstrun (marker file `/firstrun` present) the ligthttp service is disabled (= no auto start) and restarted with the access point mode configuration `cp /etc/lighttpd/lighttpd-wifisetup.conf /etc/lighttpd/lighttpd.conf`
- The `yio.remote` domain is only sent out only during AP mode.
- After AP mode when the WiFi is setup the web

[2019-10-18 09:06] zehnm commented on #271
@nklerk or @martonborzak Could you move this issue to the remote-os repo?

[2019-10-18 09:20] martonborzak commented on #271
That line is commented out because enabling the webserver causes the
process to stop for some reason. Haven't spent much time investigating that.

On Fri, Oct 18, 2019 at 11:04 AM Markus Zehnder <notifications@github.com>
wrote:

[2019-10-20 07:29] martonborzak opened #313 "Add dock software update button to settings"
The dock can be updated OTA with the following command:
`curl -F "file=@/usr/bin/yio-remote/dock/firmware.bin" http://yio-dock-e1bf713c.local/update`

[2019-10-20 07:31] martonborzak commented on #40
Scan has been implemented. Direct HW control is dependent on an integration.

[2019-10-20 07:31] #40 closed, assigned to nobody

[2019-10-23 19:25] martonborzak opened #315 "Load qm translation files from file system instead of qml resource"
Hopefully this will generate a smaller core application and makes loading languages and updating languages more modular.

[2019-10-26 22:50] carp3-noctem commented on #97
Closed, As Webconfig is now available from here: https://github.com/YIO-Remote/web-configurator

[2019-10-26 22:50] #97 closed, assigned to nobody

[2019-10-27 07:54] nklerk opened #319 "[Dock] remote should discover docks on the network."
Currently the dock contacts the remote. The remote should contact the dock(s) it needs to use. (similar to all other integrations)

[2019-10-27 07:56] nklerk opened #320 "[dock] remote should connect to dock(s). not Dock to remote"
Dock software contacts remote this isn't scalable and if an issue rises it turned out do be un debuggable/unsolvable. Remote should contact remote based on MDNS.

[2019-10-27 07:58] nklerk opened #321 "[API, Webconfigurator] Posibility to configure docks."
Issue #319 should be accessible through the API/Confiurator to discover docks on the network.
Then it can configure config.json so the remote can contact the dock by implementing #320

[2019-10-27 12:51] martonborzak commented on #319
#320 This is kind of related.

[2019-10-27 12:52] #320 closed, assigned to nobody

[2019-10-27 15:38] zehnm opened #322 "Improve logic for WiFi setup connection check: fails too fast"
**Expected behavior**

The WiFi setup process checks for successful WiFi connection after entering the credentials and clicking connect. If after a certain time the connection cannot be established, display an error message to retry again. Invalid credentials should lead to a specific error message.
The user is informed about the connection progress "connecting, waiting, connection rejected, conne

[2019-10-27 15:45] zehnm commented on #184
This issue should be transferred to remote-os.

Relaunch can be defined in the systemd app.service definition:

    ...
    [Service]
    ExecStart=/usr/bin/yio-remote/app-launch.sh
    Restart=on-failure
    Type=forking
    PIDFile=/var/run/remote.pid
    ...

app-launch.sh probably needs a little rework since the `remote` process is also forked there.
A system watchdog would still be a good ide

[2019-11-01 22:22] martonborzak commented on #315
File size is not an issue. Easier to embed the translations into a resource file. Added auto generation of .qm files to .pro file.

[2019-11-01 22:22] #315 closed, assigned to martonborzak

[2019-11-01 22:23] martonborzak commented on #310
Fixed

[2019-11-01 22:23] #310 closed, assigned to nobody

[2019-11-01 22:35] martonborzak commented on #308
It's working now.

[2019-11-01 22:35] #308 closed, assigned to nobody

[2019-11-01 22:43] martonborzak commented on #307
Changed formatting, pushed to remote-os

[2019-11-01 22:43] #307 closed, assigned to nobody

[2019-11-02 12:09] zehnm opened #324 "Qt project configuration: restructure output settings"
To improve the build process and simplify project setup the build artefacts and binary output must be separated by architecture, compiler and build type (debug / release).
This is also a pre-requisite for the remote-os Docker build image with mapped project folders from the host. Otherwise different binary files will be mixed in the output if used on macOS or Windows.
See related issue: https://gi

[2019-11-02 16:56] martonborzak opened #325 "Clean up around the utils class"

[2019-11-02 21:02] zehnm commented on #324
Implemented in feature branches `project-setup` in remote-software and all integration plugins.
Needs further testing before PR.

[2019-11-03 07:55] zehnm opened #326 "Compile errors in qtzeroconf on Windows with MinGW"
The Windows 10 development environment has been setup according to:
<https://github.com/YIO-Remote/remote-software/blob/master/DEV%20ENVIRONMENT.md#windows>

However there are multiple errors in the qtzeroconf / bonjour-sdk module.

- unknown type name int64_t
[code]
  This could be fixed with ` #include <stdint.h>`in CommonServices.h in the `#elif ( TARGET_OS_WIN32 )` block starting at line 234:

[2019-11-03 09:37] zehnm commented on #326
Further analysis:
- Installed VS 2019: no support in Qt Creator :-(
- Installed VS 2017
  -  Qt Creator didn't fully detect VS kits (different compiler paths for C / C++).
  - VS Compiler is way more restrictive (which is a good thing) and flagged all methods without a return value . --> easy fix
- **struct sockaddr_un is a Unix only structure!**
  - For Windows there's another configuration defin

[2019-11-03 12:13] zehnm commented on #326
Got that little bugger! The problem was in remote.pro overriding all DEFINES:

    include(qtzeroconf/qtzeroconf.pri)
    DEFINES = QZEROCONF_STATIC

This is wrong and overrides all previous DEFINES in qtzeroconf.pri! Correct:

    include(qtzeroconf/qtzeroconf.pri)
    DEFINES += QZEROCONF_STATIC

[2019-11-03 12:20] martonborzak commented on #326
Good catch @zehnm ! :)

[2019-11-03 13:01] zehnm commented on #326
Fixed in feature/project-setup branch. This issue will be resolved once #324 is merged to dev

[2019-11-03 15:44] zehnm commented on #326
One step closer to a working Windows app! All resources should be copied now at the right place. Unfortunately the plugin loading is still broken.
![YIO-remote-Win10](https://user-images.githubusercontent.com/17356629/68087800-3a968c00-fe59-11e9-9445-a86c76bd1ba5.png)

[2019-11-03 16:10] zehnm commented on #326
Plugin loading fixed :-) Test case with only ir plugin inside plugins folder:
[code]
Non available plugins fail, IR plugin succeeds.

[2019-11-04 13:21] martonborzak commented on #321
You don't need to configure docks. The remote automatically discovers them on the networks and adds them. Only thing you need to configure is which dock is "paired" with the remote, for future use. Otherwise the remote is always connected to all the docks.

MDNS discovery and creating integrations objects are done.

Added commands to dock firmware to set friendly name, that is distributed through

[2019-11-04 13:21] #321 closed, assigned to nobody

[2019-11-04 13:22] #319 closed, assigned to nobody

[2019-11-04 13:22] martonborzak commented on #319
Working now.

[2019-11-04 13:28] martonborzak commented on #303
Dock firmware part is implemented

[2019-11-05 20:41] zehnm commented on #326
Fixed in dev branch

[2019-11-05 20:41] #326 closed, assigned to zehnm

[2019-11-05 20:42] zehnm commented on #324
Closing issue: PR merged in dev branch

[2019-11-05 20:42] #324 closed, assigned to zehnm

[2019-11-05 20:59] #325 closed, assigned to martonborzak

[2019-11-07 11:13] zehnm commented on #306
@carp3-noctem speaking about German: shouldn't the label be named "Deutsch" instead of "Deutsche"?
<img width="476" alt="YIO-select-language" src="https://user-images.githubusercontent.com/17356629/68384371-c4936d00-0157-11ea-9cfc-64272dd9a1b1.png">

[2019-11-10 19:15] martonborzak opened #328 "Display won't come out of standby"
I couldn't figure out what causes the issue, but my guess is when the proximity sensor and the button or touch wakeup happen at the same time, the standby control gets confused and the remote display stays in standby mode.

Waiting one cycle of dim>standby won't help.

Need to test it further.

[2019-11-11 18:47] carp3-noctem opened #329 "Wi-Fi signal strengh (settings page) no entry"
There is no entry in the Wi-Fi signal strenght tab about the signal coverage (should be Wi-Fi bars and may change on click to -dbm)

[2019-11-11 18:48] martonborzak commented on #329
#309

[2019-11-13 07:22] #329 closed, assigned to nobody

[2019-11-13 17:56] zehnm opened #330 "Media player entity is mixed up with blinds card"
**Expected behaviour**

Using the entity type _media_player_ shows the media player controls on the remote.

**Current behaviour**

- Integration: HomeAssistant (Hass.io v192)
- Media player: Sonos
- Remote version: DEV 4. Nov 19

The media player shows up on the remote and clicking on the item opens up the blinds card instead of expected media controls.
Top right X doesn't work and there's no way

[2019-11-13 17:58] martonborzak commented on #330
This entity is not done yet.

[2019-11-13 18:28] zehnm commented on #330
Ok that explains it. The teaser pictures made me believe the media player is working :-)

[2019-11-13 20:51] martonborzak commented on #330
There is the mini media player that pops up when you start playing something. That is working. I am currently working on various design elements of the media player and will implement it ASAP.

[2019-11-16 20:12] zehnm commented on #322
Started with rewriting the WiFi integration and designing a general WiFi control API for using different implementations. Starting with:

1. Mock implementation for testing
1. Wrapping current shell scripts
1. wpa_supplicant control API

[2019-11-17 18:19] martonborzak commented on #328
Further testing shows that the remote app crashes. Need to do more testing to hunt down what causes the issue. So far seems pretty random.

[2019-11-17 18:28] ChristianRiedl commented on #328
I also had the problem that it did not came out of from standby. The reason was in **Integration::load**, when no dock can be found, loadComplete was not fired because the condition in the onCreateDone slot never matches.

[2019-11-17 18:30] martonborzak commented on #328
That is more related to when it starts up for the first time, isn't it @ChristianRiedl ?
Also if you kill the app while in standby and start up again, you need to wait a standby cycle to cycle out of standby mode again.

[2019-11-17 18:56] martonborzak commented on #328
Issue is related to mini media player or the media player. When The media player is no longer playing and the array is empty, the app crashes.

[2019-11-17 19:02] martonborzak commented on #328
Tested on macos. The issue is not present.

[2019-11-17 20:42] martonborzak commented on #330
This is fixed with latest commit to dev branch.

[2019-11-17 20:42] #330 closed, assigned to nobody

[2019-11-18 19:22] nklerk opened #331 "Browse list Integration."
Browsing starting point.
/

Function => **.getPath("/");**

Example response from Integration root ("/"), including different (to be) supported features.

[code]

Response example of an imaginary path "/Artists/Armin van Buren/Imagine/"
Function =>  .getPath("/Artists/Armin van Buren/Imagine/");

[code]

Selecting an item function => .getItem("play", "UniqueIdOfItem2")
Supported buttons for Item:

[2019-11-19 17:17] martonborzak commented on #328
Seems to be fixed now. Same ownership issue between c++ and javascript, that we had before with entities and integrations.

[2019-11-19 17:17] #328 closed, assigned to nobody

[2019-11-21 19:00] zehnm commented on #322
Successful proof of concept: wpa_supplicant control API integration works!
[code]

[2019-11-21 19:13] zehnm opened #337 "App doesn't terminate gracefully and crashes"
**Expected behavior**
When running the app on Linux, macOS or Windows it can be gracefully terminated without throwing errors.

**Current behavior**
On macOs an error dialog is shown when closing the app saying it crashed.
Error messages are shown in the console on every platform.

**Detailed description**
Console messages:
[code]
Crash dialog on macOS:
<img width="430" alt="Screenshot 2019-11-21

[2019-11-21 19:15] zehnm opened #338 "App doesn't start anymore without reachable dock"
**Expected behavior**
For development purposes the remote-software app can be compiled and run on Linux, macOS and Windows without an actual dock or outside the home network.

**Current behavior**
The app doesn't start anymore without a reachable dock on the same network. It is stuck at the spinning circle.

**Detailed description**
- Latest dev branch
- Tested on Linux, macOS, Windows

[2019-11-21 19:17] martonborzak commented on #338
I think I have fixed this.

[2019-11-21 19:19] ChristianRiedl commented on #338
I had a similar problem. Can you set a breakpoint in integration.cpp where "emit loadComplete()" should fire. I think the problem is there.

[2019-11-21 19:21] martonborzak commented on #338
The problem was that the dock integration wouldn't emit the signal, because it was connected to the mdns service discovery signal.
I added a timer to timeout and emit the loadComplete() signal

[2019-11-22 13:39] zehnm commented on #337
One issue is in BluetoothArea:
- BluetoothThread needs to be closed properly in BluetoothArea's deconstructor

[2019-11-22 15:05] zehnm commented on #337
Quick fix without checking if the thread has been started or not:
[code]
The Bluetooth thread exits and the FATAL QThread error is gone, BUT the app crashes now with a segmentation fault within the Logger because the instance has already been deleted but other parts are still active and continue logging...

@ChristianRiedl could you make the Logger instance a global object, or do you have a better

[2019-11-22 16:23] ChristianRiedl opened #339 "App crashes at exit now in the new logger, here the fix"
In logger.h please change :

[code]

[2019-11-22 16:34] zehnm commented on #337
Next issue: DockThread in DockBase (same as BluetoothThread)

[2019-11-22 16:42] martonborzak commented on #337
I think that is true for all threaded things

Sent from my phone

[2019-11-22 17:58] zehnm commented on #337
Got everything terminating gracefully without errors. After cleaning up the Wifi rewrite branch I'll add it to the dev branches of remote-software & integration projects.

[2019-11-22 18:01] zehnm commented on #339
Thanks, this works. A few messages will get lost though, but I think we can live with that.

[2019-11-25 19:03] zehnm commented on #338
Unfortunately it's still not working if I disconnect the dock and reboot the remote.
- latest dev branch as of today (remote-software & integration plugins)
- WiFi connection of the remote works (ssh connection works)
- Soon after I connect the dock the spinning circle on the remote ends and the app finishes starting up

Further information from the logs:
After connecting the dock the following lo

[2019-11-25 20:17] martonborzak commented on #338
Pushed an update to the dock integration.

[2019-11-25 20:50] zehnm commented on #338
Working now!

[2019-11-26 18:21] #338 closed, assigned to nobody

[2019-11-27 11:28] zehnm commented on #322
Important: the /etc/wpa_supplicant/wpa_supplicant-wlan0.conf configuration file needs the `update_config=1` option set to be able to overwrite the configuration with cli_ctrl. See: <https://w1.fi/cgit/hostap/plain/wpa_supplicant/wpa_supplicant.conf>
[code]

[2019-11-28 16:47] martonborzak opened #342 "Add option to configure the haptic feedback"

[2019-11-30 16:58] zehnm commented on #322
Information about the hostap control interface:
- Control interface: http://w1.fi/wpa_supplicant/devel/hostapd_ctrl_iface_page.html
  This looks rather minimal with just a `PING` command!?
- Configuration file reference: https://w1.fi/cgit/hostap/plain/hostapd/hostapd.conf
- CLI interface: http://manpages.ubuntu.com/manpages/trusty/man1/hostapd_cli.1.html

[2019-12-06 20:38] martonborzak opened #344 "Push live updates about entities, etc. to YIO API clients"

[2019-12-08 07:02] zehnm commented on #309
The new WifiControl interface in feature/322-WiFi_rewrite is prepared to complete the UI interactions:
- startNetworkScan() operation to scan for available networks
- Qt signal & getter for a list of available networks including signal strength and encryption type
- Qt signal for wifi signal strength changes
- join() operation

Depends on #322 and either needs to be implemented and coordinated in

[2019-12-08 10:26] zehnm opened #346 "Hardware device abstraction"
## Expected Behavior or Design

As a software architect I expect a hardware abstraction layer for many reasons. To name a few:
- Enables and simplifies testing
- New hardware is easily integrated
- Devices can be mocked
- Enables support for new platforms or allows to adapt the YIO Remote software to easily run on a regular Raspberry Pi.

## Current Behavior or Design

Hardware interaction code is

[2019-12-08 11:03] ChristianRiedl commented on #346
Good idea ! Optimum would be to have it in a seperate lib. A YIO-Hardware SDK.
Maybe without Qt, it is not required on this layer.
I think YIO remote could be interesting for PI fans making their own software.

[2019-12-08 11:20] martonborzak opened #347 "Testing webhooks"

[2019-12-08 11:20] #347 closed, assigned to nobody

[2019-12-08 11:50] zehnm commented on #346
Well there are a few Qt signals which I see required or at least convenient to have. So that would lead to low-level C / C++ device interaction code and probably a higher level Qt integration providing the signals for the other components.
Most important step now is to start refactoring the code. I already started with the design in the wifi rewrite branch and I'm going to start with this task nex

[2019-12-08 12:27] ChristianRiedl opened #348 "Separate integration library"
Especially for the implementation  of integrations using **QAbstractListModel** like media players, weather, ... it  makes sense that every integration uses the same "model" classes.  I think the sources should be in a separate static **integration library**, not somewhere in the remote-software source hierarchy.

This integration library can also contain often used functionalities like OAuth, ...

[2019-12-08 15:13] zehnm commented on #348
Further request for the separate library (or even an additional package like an integration-dev package): include all required header files to be able to compile the integration plugins.
I'm struggling at moment defining simple custom Buildroot packages for the integration plugins since the header files are in the software-remote module.

[2019-12-08 16:50] zehnm opened #349 "Add GPL file headers"
## Expected Behavior or Design

The YIO Remote software is licensed under GPL v3 or later (see license information in each GitHub repository). This should not just be reflected in the LICENSE.md file but also in every source file.

## Current Behavior or Design

Almost no source file has a license information.

## Possible Solution

Add the same file header to each and every source file.
The new w

[2019-12-08 16:52] zehnm commented on #349
@martonborzak @nklerk @carp3-noctem @ChristianRiedl Please review!

[2019-12-08 16:52] martonborzak commented on #349
Looks good, I say let's start adding it to the files.

[2019-12-08 17:10] ChristianRiedl commented on #349
Ok

[2019-12-08 22:40] zehnm commented on #349
@ChristianRiedl please add yourself to all files you have worked on (e.g. the integration interfaces). I have only set your name in the logger files, hopefully with the correct email address.

[2019-12-09 07:25] zehnm opened #350 "Add guidelines in CONTRIBUTING file"
## Expected Behavior
As a new contributor I'd like to easily find the contribution guidelines to find out how things are done in a project, what's expected from a contributor and whom to contact for help.

## Current Behavior
No official contribution guidelines available.

## Possible Solution
Write contribution guidelines in CONTRIBUTING.md

## Detailed Description and Additional Information
- [G

[2019-12-09 17:37] martonborzak commented on #350
Started creating a draft. Any input? Please contribute :) @zehnm @nklerk @carp3-noctem
https://github.com/YIO-Remote/remote-software/blob/contributing/.github/CONTRIBUTING.md

[2019-12-10 19:59] martonborzak opened #351 "No captive portal popup on Samsung phones"
## Description
When connecting to the YIO Remote AP, no captive portal pops up on Samsung devices.

## Expected behavior
A captive portal should pop up on the phone with a list of available wifi networks.

## Your Environment
* Version used: latest from remote-os/dev
* Running on:
  - [X ] YIO Remote

[2019-12-10 21:59] zehnm commented on #351
Sorry I can't test this. No Samsung devices in my household. My old Samsung tablet died last Sunday and won't buy Samsung anymore.

This is probably more of an issue of the Android version used.
@martonborzak please provide further details.

[2019-12-10 22:01] martonborzak commented on #351
@Tosko4 would you be able to provide more details?

[2019-12-10 23:49] nklerk commented on #351
How does samsung handle captive portals? Presumably DNS if so what record does it check on

[2019-12-10 23:50] Tosko4 commented on #351
**Brand**: Samsung
**Model**: S8+
**Android version**: 9
**Kernel version**: 4.4.153-16246896

What actually happened:

**Step 1**: turned on YIO Remote
**Step 2**: connected to the YIO Remote Access Point (WiFi) with my Samsung device. It does connect, as it goes from Connecting to Connected and the WiFi icon appears in my top menu on Android instead of 4G cellular network.

_And I believe this i

[2019-12-15 11:39] martonborzak commented on #339
I think this is fixed.

[2019-12-15 11:39] #339 closed, assigned to nobody

[2019-12-15 11:39] martonborzak commented on #331
This is implemented. Let's reopen the issue when necessary.

[2019-12-15 11:39] #331 closed, assigned to ChristianRiedl, nklerk, zehnm, martonborzak

[2019-12-17 18:57] zehnm commented on #312
JSON schema validation is the way to go!
This has the benefit of also documenting the configuration structure and can be used in other tools to validate the YIO config file. E.g. the web configurator.

With C/C++ there aren't too many options, but the following project seems promising to validate against a JSON schema and has support for Qt JSON: https://github.com/tristanpenman/valijson

Further

[2019-12-17 23:05] ChristianRiedl commented on #312
Currently when you start with a bad config.json you do not get an error message, but this is easy to change. JSON schema validation I think currently is an overkill. Some more error logging is more urgent in my opinion.

[2019-12-18 19:28] zehnm opened #356 "Use new boot partition mount point"
## Expected Behavior or Design

Use the default boot partition mount point `/boot` to load the configuration file `config.json`.

## Current Behavior or Design

The application uses the old /mnt/boot path to load the configuration file.

## Detailed Description and Additional Information

This has already been changed in remote-os. The old /mnt/boot is still accessible through a symlink but will b

[2019-12-20 07:03] zehnm opened #357 "Support for iOS"
**Is your feature request related to a problem? Please describe.**
Qt supports iOS devices out of the box but the `remote.pro` project file restricts device support to Linux, ARM cross compile, macOS and Windows.
When using the iOS kit then project compilation fails with `unknown platform! Platform must be configured in remote.pro`.
See end of the `remote.pro` project file section:
[code]

**Descr

[2019-12-20 07:06] zehnm opened #358 "Support for Android"
**Is your feature request related to a problem? Please describe.**
Qt supports Android devices out of the box but the `remote.pro` project file restricts device support to Linux, ARM cross compile, macOS and Windows.
When using the Android kit then project compilation fails with `unknown platform! Platform must be configured in remote.pro`.
See end of the `remote.pro` project file section:
[code]

[2019-12-20 17:11] ChristianRiedl commented on #346
A lot of files, isn't it a bit over engineered ? But maybe I'm a little old fashioned.

[2019-12-21 08:14] zehnm opened #360 "Logger: invalid line endings"
## Description
The logger uses invalid hard coded line endings: `\n\r`.

## How to Reproduce
Steps to reproduce the behavior:
1. Start app
2. Open logfile
3. See error

## Expected behavior
Line endings must match the platform:
- Windows: `\r\n`
- Unix: `\n`

## Your Environment

* Version used: dev branch
* Running on:
  - [x] YIO Remote
  - [x] Desktop
* Operating System and version:
macOS, Linu

[2019-12-21 08:19] zehnm opened #361 "Logger: use provided log directory without appending ./log"
## Description
The logger doesn't use the provided log path as output directory. It appends a hard coded `/log` subdirectory.

## How to Reproduce
Steps to reproduce the behavior:
1. Start app
2. See logfiles in subdirectory of configured log directory

## Expected behavior
The Logger uses the provided log path and doesn't change the path.

## Your Environment
* Version used: dev branch
* Running

[2019-12-21 09:14] ChristianRiedl commented on #361
Originally log was written in the directory of the executable. I only changed it to write into a seperate directory. Nobody specified where the log files should be written. So its a feature, not a bug.

[2019-12-21 09:25] zehnm commented on #361
That's debatable but doesn't matter in the end :-)
If there's a `path` configuration then I believe the caller can expect that this exact path is being used (it's called path, not basePath). Furthermore, the method documentation says:
` // path :       directory for log file, if empty no log file`

[2019-12-21 18:56] miloit opened #366 "Kodi support"
Hey guys,
Would be perfect to get a Kodi support.

Regards

[2019-12-22 20:49] zehnm commented on #366
Please provide more details on how you envision Kodi support.
If Kodi is integrated as media player into home-assistant or another supported backend then there's already basic support in YIO. But I don't think that's what you are looking for ;-)
Before anyone starts coding we should have a good understanding what users are expecting. Not everyone is using the same features or has the same prioriti

[2019-12-23 01:03] ChristianRiedl commented on #360
Fixed, pull logger_integrations

[2019-12-23 01:03] ChristianRiedl commented on #361
Fixed, pull logger_integrations

[2019-12-23 03:41] miloit commented on #366
Hello,
Would be good to have the same features as yatse remote see: https://yatse.tv/

[2019-12-23 10:40] zehnm commented on #361
Thanks, I merged logger_integrations to dev.
Please create a dedicated PR for fixes in the future.

[2019-12-23 10:40] #361 closed, assigned to ChristianRiedl

[2019-12-23 10:42] zehnm commented on #360
Merged. Please create a dedicated branch & PR for fixes in the future

[2019-12-23 10:42] #360 closed, assigned to ChristianRiedl

[2019-12-23 12:58] zehnm opened #369 "General Logger enhancements"
I'm opening this issue to discuss and plan general enhancements for the `Logger` component.

Please add comments, further ideas or objections so we can specify all needed enhancements for the next release.
My suggestions and requirements are the following:

## Expected Behavior or Design

- Configurable filename
  The filename should be configurable, at least with a client settable prefix. Default

[2019-12-23 15:37] zehnm commented on #346
The wifi code has been rewritten and merged into the develop branch. It will serve as the foundation for refactoring the hardware specific classes with factories and platform specific includes.

In my opinion this is not over engineered but clearly separated code following well established software design patterns. Probably not yet C/C++ perfect since I'm still having some language issues coming f

[2019-12-23 16:15] ChristianRiedl commented on #369
Here my comments :

- Configurable filename : OK
- Rolling file behavior :
Configurable rolling time interval + maximum size, OK
There is a allready a purgefile function intended for cyclical purging, which can be called cyclically. Who will call it ? Maybe there is somewhere a general daily cleanup function,  or I can create an internal timer.
- Plugin interface dependence
Logging level of all re

[2019-12-23 16:22] martonborzak commented on #311
@YIO-Remote/team-yio
It would be great to pass a function when creating a notification, that later can be called when pressing on the button.

For example:
`Q_INVOKABLE void            add             (const bool &type, const QString &text, const QString &actionlabel, const QVariant &action);`
When an integration disconnects, it should create a notification that it's disconnected. Next to the "Dis

[2019-12-24 14:13] zehnm commented on #369
For the rolling file appender we can limit it to one simple option. It would be nice to have everything that e.g. [log4j in the Java world](https://www.baeldung.com/java-logging-rolling-file-appenders) provides, but we are not writing a generic logger library.

@martonborzak @nklerk what do you prefer? Size based - rotate after configurable amount, e.g. 10MB - or a fixed rotation at midnight?

In

[2019-12-24 14:15] martonborzak commented on #369
Maybe size, I think.

[2019-12-24 15:39] #311 closed, assigned to martonborzak

[2019-12-24 15:40] #350 closed, assigned to nobody

[2019-12-24 15:40] martonborzak commented on #337
Was this fixed already? @zehnm ?

[2019-12-24 15:41] martonborzak commented on #295
This won't be necessary due to #346

[2019-12-24 15:41] #295 closed, assigned to martonborzak

[2019-12-24 16:48] zehnm commented on #337
Yes, it was fixed with the WifiControl merge to dev.

[2019-12-24 22:44] #356 closed, assigned to zehnm

[2019-12-24 22:47] martonborzak commented on #342
#346 is relevant for this

[2019-12-24 22:48] martonborzak commented on #135
#346 is related

[2019-12-25 08:09] martonborzak opened #372 "Remote display is not coming out of standby."
## Description
The display won' wake up.

## How to Reproduce
Steps to reproduce the behavior:
Leave the remote in the dock overnight. The next morning the display won't turn on.

## Expected behavior
The display should turn on.

## Your Environment

* Version used: latest dev
* Running on:
  - [x] YIO Remote
* Operating System and version:
remote-os

## Additional context
This error pops up in th

[2019-12-25 10:17] zehnm commented on #312
Set to 'high priority' due to serious issues with incorrect config which are hard to track down.
@nklerk already has a json configuration schema for the web-configurator and I'll start with the json validation research for the application.

[2019-12-26 01:32] martonborzak opened #373 "Translation support in plugins(integrations)"
## Expected Behavior or Design
Plugin strings should be also translated.

## Possible Solution
Need to extend the plugin interface and the translator class to handle translations in plugins as well.

[2019-12-26 10:05] zehnm commented on #312
I'll focus on [valijson](https://github.com/tristanpenman/valijson) for now:
- It has a Qt json adapter, so the document doesn't need to be loaded and parsed twice.
- No further dependencies on other libraries.
- Easy integration through header files only.
- Work on  json schema v6 and v7 has been started in a branch.
- Even Microsoft is using it: https://github.com/microsoft/CCF/tree/master/3rdpa

[2019-12-26 11:06] zehnm commented on #312
Proof of concept works nicely with QtJsonAdapter.
Example validation output:
[code]
Hard coded POC:
[code]

[2019-12-26 15:02] zehnm commented on #312
Currently the develop branch is broken because of non-matching configuration. The configuration validation will resolve these issues, especially because they are not easy to handle with traditional error checking and logging. With the bound properties in QML to the json properties errors will pop up much later.

E.g. warnings are logged that certain "settings" properties like wifitime or shutdownt

[2019-12-27 07:44] zehnm commented on #312
Validation has been implemented for config.json, hardware.json and the YIO websocket API.
The non-optimized validation of config.json on the RPi0 takes approximately 80ms (measured with
[QElapsedTimer](https://doc.qt.io/qt-5/qelapsedtimer.html)):
[code]
- config.json: 13 KB
- config-schema.json: 41 KB (mainly auto inferred from config.json with <https://jsonschema.net/>)
- The schema file is not c

[2019-12-30 09:27] GileanEU opened #375 "Add generic switch entity"
I am using quite a few of different switches (on/off) in Home Assistant, mainly Sonoffs with Tasmota firmware on them, and plan to add Tasmotized Sonoff S20 power plugs as well to replace not-so-reliable Nexas that are RF power plugs. So I would love to ditch my Nexa plugs AND separate Nexa remote and be able to control all those switches with YIO-remote instead!

I think many of us are using some

[2019-12-31 11:20] B-Hartley opened #387 "Support Hive Heating"
please support Hive Heating :
https://www.hivehome.com/products/hive-active-heating

API info at:
http://www.smartofthehome.com/2016/05/hive-rest-api-v6/

There is a main thermostat.
And also they have TRVs (radiator valves)

A direct integration or through an automation hub would be fine.

[2019-12-31 11:46] martonborzak commented on #387
@B-Hartley if it's supported by Home Assistant or Homey, then it's already supported :)

[2019-12-31 11:48] B-Hartley commented on #387
Ok. Looks like it’s ok on home assistant.
So I guess I’ll give that a go.

[2019-12-31 12:02] martonborzak commented on #387
Cool! Check out the guide on how to run the app on your computer:
https://github.com/YIO-Remote/documentation/wiki/development

Let me know if you need help setting it up! For interactivity, I'd suggest[ our chat](http://chat.yio-remote.com).

[2020-01-01 11:26] martonborzak opened #389 "Performance update and cleanup"
## Expected Behavior or Design
Improved and more fluid UI.

## Current Behavior or Design
The UI sometimes can be a bit sluggish.

## Possible Solution
- [x] Optimize qml code by removing unnecessary elements
- [x] Optimize qml code by revising property bindings
- [x] Optimize qml code by adding more lazy loading of elements
- [x] Optimize qml code by removing unused layer effects
- [x] Avoid usin

[2020-01-01 11:28] martonborzak commented on #389
@nklerk @carp3-noctem @zehnm  Let's add more to the list. I think the next milestone should be mostly code cleanup and performance improvement.

[2020-01-01 11:39] martonborzak commented on #231
I think this will be solved with #346. What do you think @zehnm ?

[2020-01-01 12:12] martonborzak opened #390 "Improve remote entity"
Improve the remote entity type and the UI
## Possible Solution
- [x] Implement executing channel switching based on the sequence defined in `config.json`
- [ ] Make hardware buttons configurable from `config.json`, provide default config
- [x] Add channel numbers to UI on a new page
- [x] Add more buttons to the UI based on features
- [ ] Add opening animation
- [ ] Add rearrange option to channel

[2020-01-01 12:13] martonborzak opened #391 "Improve climate entity"
Improve the remote entity type and the UI
## Possible Solution
- [x] Add current temperature to open state UI
- [x] Add opening animation

[2020-01-01 12:15] martonborzak commented on #375
Proposed properties and attributes:
- States: On, Off
- Supported features: Power meter
- Commands: Toggle, On, Off

[2020-01-01 14:15] GileanEU commented on #375
Those should work just fine I think, and although for example Sonoff S20 does not have power meter features, some other wifi/zigbee/z-wave switches might have that so I think it's good to have support for that as well!

[2020-01-01 16:06] #337 closed, assigned to zehnm

[2020-01-01 16:07] martonborzak commented on #283
Most of this is implemented. I'll remove the from the milestone and leave the issue open, so we can use it as a reference.

[2020-01-01 16:09] #312 closed, assigned to zehnm

[2020-01-01 16:09] #290 closed, assigned to nklerk, martonborzak

[2020-01-01 16:17] #349 closed, assigned to zehnm

[2020-01-01 21:29] martonborzak commented on #375
Added a switch entity type.
Todo:
- [x] UI implementation
- [x] Add to integrations

[2020-01-03 17:04] zehnm commented on #231
The hardware abstraction is not related to a developer mode. Certain things might be easier to reconfigure though.

[2020-01-04 22:52] #294 closed, assigned to martonborzak

[2020-01-04 22:52] #135 closed, assigned to nobody

[2020-01-08 10:58] gvdhoven commented on #351
Related to this fix i did for my Arduino devices; https://www.hackster.io/voske65/captive-portal-for-wifi-ap-a14155

If i recall correctly the AP IP should be something like 172.x.x.x for Samsung devices (S7) to detect the captive portal. I'll see if i can fix it by providing the pull request.

[2020-01-10 07:31] martonborzak commented on #372
This issue seems to be gone with the latest additions to the code.

[2020-01-10 12:18] zehnm commented on #348
To simplify the separation of the common interfaces and classes I will create the integration library as a _Qt Project Include_ (.pri) instead of a full blown static library.

With a static library we have another build dependency for 4 platforms and all existing build setups (Developer setup, GitHub Actions CI, Docker build image, Buildroot custom packages) need major work.
Once everything is wor

[2020-01-13 17:57] carp3-noctem commented on #369
Remove Split of Files at every hour

[2020-01-13 18:04] carp3-noctem opened #404 "Media Player UI Issues"
## Description
when opening the search / playlist site, a color bleeding from the artwork page can happen (only observed at remote)

## How to Reproduce
Steps to reproduce the behavior:
1. Go to a Media Player and open it, when music is playing
2. Open / Slide to Search or Playlist side, there is a color bar / edge visible during transition after landing on page

## Expected behavior
no color blee

[2020-01-13 18:13] carp3-noctem commented on #369
Add Manual Disconnect of integrations to logger (no logline is created at the moment)

[2020-01-14 08:26] zehnm commented on #348
Pull requests for initial integration library refactoring created:
- All integration plugin related header files are now in the integrations.library.
- remote-software and all integrations are now using integrations.library.
- Integration plugins don't have a direct reference to remote-software anymore. Only to integrations.library.

Common plugin skeleton classes for plugin setup and threading wi

[2020-01-21 17:49] carp3-noctem opened #406 "Adding of Build Numbers to the Log as well as in Detailed Settings Page of Plugin"
**Is your feature request related to a problem? Please describe.**
When dealing with different Builds through testing / production it can be hard to get troubles in correct order when nobody knows which exact version is having the issue.

**Describe the solution you'd like**
a) During Plugin initialisation write Build number into Debug Log
b) Show Build number in detail view Page of Plugin details

[2020-01-25 11:02] martonborzak commented on #372
This has been resolved with the hardware abstraction.

[2020-01-25 11:02] #372 closed, assigned to zehnm, martonborzak

[2020-01-25 11:03] martonborzak commented on #348
Can this be closed @zehnm ?

[2020-01-27 08:45] martonborzak commented on #404
Can you take a picture or video @carp3-noctem?

[2020-01-27 14:35] #404 closed, assigned to martonborzak

[2020-02-08 12:17] #309 closed, assigned to martonborzak

[2020-02-08 12:17] #304 closed, assigned to nobody

[2020-02-08 16:27] #373 closed, assigned to martonborzak

[2020-02-16 18:33] martonborzak commented on #406
Version number added to `.pro` file to keep track of versions.

[2020-02-16 18:34] martonborzak commented on #351
Due to recent change in the setup flow, this is not an issue anymore.

[2020-02-16 18:34] #351 closed, assigned to gvdhoven, zehnm, martonborzak

[2020-02-16 18:34] #289 closed, assigned to martonborzak

[2020-02-23 20:41] zehnm commented on #348
It should auto-close once merged into master

[2020-02-23 20:59] zehnm opened #410 "Allow device configuration with configuration file"
Enhance the app and hardware configuration handling.

## Expected Behavior or Design
The following features should be implemented:
- Hardware configuration:
  - Option to enable / disable each device.
    If a device is disabled then simply use the mock implementation.
  - Configure i2c bus and device address id in configuration file.
  - Configure GPIO pins in configuration file.
  - Enhance json

[2020-02-24 11:25] zehnm commented on #410
Enhancements are merged into develop branch and will be included in the next release.

Command line options:
[code]
Note: German texts are default Qt strings and auto-translated based on OS country settings. The custom texts still need to be translated.

- The `--profile` option allows simple configuration profiles.
  E.g. using a profile name `foobar` will try to load `config-foobar.json` and `ha

[2020-02-27 11:43] KarlKiel opened #412 "IOBroker Integration"
As I am in the state of trying to bring everything together in IOBroker - I would love to see an integration of YIO remote into IOBroker to enable control of all IObroker available devices (which brings also nice integrations that are currently not available in any of the supported tools like e.g. working digitalstrom support...)

[2020-02-27 21:09] zehnm opened #413 "Prepare application for different screen sizes"
## Expected Behavior or Design
The screen size should be defined in a single place, accessible to the QML files defining the UI screens.
UI screens must be able to get the actual screen size to be able to adapt to different screen sizes.

## Current Behavior or Design
Screen sizes are hard coded in the QML files. E.g.:
[code]

## Possible Solution
The screen size is configurable in `hardware.json`

[2020-02-27 22:17] martonborzak commented on #413
I would suggest to have it in the `Style.qml` singleton as the display resolution is connected to all the other UI related things like colors, typefaces and icons.

[2020-02-27 23:56] bobzer commented on #413
Thank you for this enhancement this is great :+1:
maybe we could take this opportunity to implement dpi ?  (don't know if is needed? maybe interesting because if we start to add different screen size, there is a big difference between a 3.5" and a 7"...)
I understand your point marton but the resolution is more a hardware thing so i think it make more sense to be with other hardware related defini

[2020-02-28 06:13] martonborzak commented on #413
Yes, defined in the hardware configuration, but then we load it into Style.qml.
Maybe we can add physical size next to the resolution, that would take care of the DPI. Or it’s actually more descriptive when we are talking about UI design.

But as @zehnm wrote, this is just a hardware/config enhancement. Making the UI responsive is a different story and requires more design work.

[2020-02-28 14:30] bobzer commented on #413
yes totally agree, sorry i miss understood when you talk about styles

[2020-02-28 20:42] martonborzak opened #414 "Missing keys and features in virtual keyboard"
## Description
Missing capital letters and special characters in the virtual keyboard.

[2020-02-29 08:44] zehnm commented on #414
I've added `high priority` since I can't connect to WiFi with the new initial setup flow. My WiFi password contains capital letters and special characters...

[2020-02-29 12:53] martonborzak commented on #414
@zehnm Could you check these if we need to add more special characters?
![Screenshot 2020-02-29 at 13 52 21](https://user-images.githubusercontent.com/23139408/75607777-d039e380-5afa-11ea-849b-5423b8c0bfa1.png)
![Screenshot 2020-02-29 at 13 52 28](https://user-images.githubusercontent.com/23139408/75607778-d29c3d80-5afa-11ea-9e3b-0127d5a73b52.png)
![Screenshot 2020-02-29 at 13 52 35](https://user-

[2020-02-29 13:18] zehnm commented on #414
@martonborzak We are in a bit of trouble here! There are many many characters missing.
WPA security allows not only all printable ASCII characters, but also Unicode! Technically it's just a 63 byte array.

My suggestion:
- At the very minimum we need all common printable ASCII characters.
  - E.g.: äöüàáãéèçêñ... + 'all the others & upper case'
  - Comma seems to be missing too
- Unicode is a spec

[2020-02-29 13:29] martonborzak commented on #414
@zehnm the alternative characters are there when you press and hold on a button. Same is true for the comma/etc.

https://www.dropbox.com/s/6de6e6w5lqai4vo/Screen%20Recording%202020-02-29%20at%2014.28.08.mov?dl=0

[2020-02-29 13:47] martonborzak commented on #414
@zehnm I will add support for multi-language keyboards. So you'll be able to change the keyboard to any locale we support.

[2020-02-29 13:51] zehnm commented on #414
Ok, then it's not that bad. The 'press and hold' button for special characters is ok, but the comma should be on the main screen. Otherwise it's not intuitive and I would never find it :-(
In my opinion the following characters should not be on the main screen, because they are barely used: `√½«»®§”™`. Better put `,` and `~` there.

[2020-02-29 14:36] martonborzak commented on #414
I've added functionality that the virtual keyboard language now matches the system language. But you can change the keyboard manually if you want. This should cover most of the needs. I am adjusting the special characters as well.

[2020-02-29 18:12] martonborzak commented on #413
Just realised that `Style.qml` won't be a good place to store width/height. Probably needs to live in the `config`.

[2020-03-01 10:03] zehnm commented on #413
I have just updated the issue description: Qt already provides extensive information about the screen!
I will still implement the screen configuration as a fallback or override mechanism and the used values will be logged.

[2020-03-01 10:05] martonborzak commented on #413
That simplifies a lot @zehnm

[2020-03-12 21:33] zehnm opened #415 "Seg Fault in valijson on certain platforms"
## Description
The development branch seg faults on certain platforms (e.g. Ubuntu 19.10) with a reference to valijson

## How to Reproduce

1. Create a debug build
1. Run
1. Seg Fault

## Expected behavior
No crash :-)

## Your Environment
* Version used: develop branch
* Running on:
  - Desktop
* Operating System and version: Ubuntu 19.10

## Additional context
- Doesn't crash on macOS or on the

[2020-03-13 09:03] KarlKiel opened #416 "Enhance blinds capabilities for shades"
Besides the pure open/close blinds there are more and more buildings using blinds with shading capabilities (louvre). These additionally offer the possibility to turn the elements to let light go throgh but still give shade of direct sun beam.

Would be great to extend the blinds functionality by adding control for the position of the elements. (so overall UP/Down + Open/Close)

[2020-03-14 11:27] martonborzak commented on #415
This should have been closed because the pull request #417 was merged.

[2020-03-14 11:27] #415 closed, assigned to zehnm

[2020-03-14 11:40] zehnm commented on #415
@martonborzak issues are auto-closed once they are merged into the default branch, which is master.

[2020-03-14 15:14] martonborzak opened #418 "Add enabled property to mediplayer utils class"
## Expected Behavior or Design
The mediaplayer class should only be active when it's enabled. This way we can avoid downloading images when the UI element is not visible.

## Current Behavior or Design
The mediaplayer util instance is always enabled.

## Possible Solution
Add a `Q_PROPERTY` `enabled` to the class. This can be then controlled by the visibility of the UI elements.

[2020-03-17 14:10] zehnm commented on #406
In remote-os I've added version number retrieval from Git Tags:
- release tag = main version number
- how many commits a develop build is ahead of the last release tag
- last commit hash if it's not a release build

See: [remote-os commit adaeebc](https://github.com/YIO-Remote/remote-os/commit/adaeebc9987ec969531afda2fdb0c4c0cffcdfd5)
Something similar needs to be included in remote-software and e

[2020-03-17 14:18] zehnm opened #419 "Missing escape / back button mapping in settings menu"
## Description
The solid dot button is currently mapped to escape / exit card menus (e.g. dimmer). Within the settings menu there is no mapping going out of the sub menus.

## How to Reproduce
Steps to reproduce the behavior:
1. Go to settings menu
2. Click on a sub-menu, e.g. Display
3. Press solid dot button
4. Nothing happens

## Expected behavior
Consistent mapping of the escape / exit button.

[2020-03-17 14:30] zehnm opened #420 "WiFi settings: connected network shows up in other networks"
## Description
The connected network also shows up in the other networks list.

## How to Reproduce
Steps to reproduce the behavior:
1. Go to Settings
2. Click on Wifi & bluetooth
3. Make sure you are connected to an AP
4. See the connected network in `other networks`

## Expected behavior
The connected network should not show up in the available network list.

## Your Environment
* Version used:

[2020-03-18 21:27] zehnm commented on #406
Git command to describe current version: `git describe --match "v[0-9]*" --tags HEAD`
Example output: `v0.2.1-282-gefe76e9b`

- v0.2.1 = last version tag
- 282 = number of commits since last version
- gefe76e9b = last git commit hash

For this to work on the develop branch, it is essential to merge the release or master branch back to develop after it has been tagged. Otherwise the release tag is

[2020-03-20 23:13] zehnm commented on #406
- Version number is now accessible through the Qt plugin metadata.
- Plugin version is logged as INFO message before loading in Launcher.
- Functionality is in the develop branch of the integration plugins and the softwareupdate branch of remote-software.

Showing version number in Settings -> Integrations needs a few more enhancements. I therefore suggest opening a new feature request how exactly

[2020-03-21 10:47] martonborzak opened #421 "Improve average color algorithm in media player"
## Expected Behavior or Design
The background color of the media player card perfectly matches the image.

## Current Behavior or Design
Sometimes the background color is a bit off.

## Detailed Description and Additional Information
The new Home Assistant media player card does a good job at this: https://github.com/home-assistant/frontend/blob/dev/src/panels/lovelace/cards/hui-media-control-card

[2020-03-26 11:00] zehnm opened #422 "Average power in settings: inverted x-axis"
## Description
The x-axis of the average power screen in Settings, Battery & power is inverted

## How to Reproduce
Steps to reproduce the behavior:
1. Let remote run for a few hours
2. Go to Settings
3. Click on 'Batter & power'
3. Scroll down to 'Average power'
4. See error on x-axis labels

## Expected behavior
x-axis shows correct labels in ascending time order

## Screenshots
![average-power]

[2020-03-28 19:27] martonborzak commented on #420
I am using `wifi.networkScanResult` to create a list of available networks. A solution could be to create a new array where we filter out the current network (`wifi.wifiStatus.name`). Or we simply hide that item, where the result is the same as the current network.

[2020-04-02 11:51] #375 closed, assigned to martonborzak

[2020-04-04 09:55] martonborzak commented on #421
Better results with the following:
- scale image down to 1x1 pixel
- measure color of that pixel
- adjust according to lightness

[2020-04-06 16:05] zehnm opened #424 "Add dependency management for integrations.library"
## Expected Behavior or Design
There's a version dependency for the common integrations.library to support builds in different branches.

## Current Behavior or Design
At the moment the develop branch is always used which might break a build at any time.

## Possible Solution
Add a dependency metafile to the project containing the required release version of the dependencies.

## Detailed Descript

[2020-04-06 16:11] zehnm opened #425 "Create custom GitHub action for cross compile build"
## Expected Behavior or Design
We are using GitHub actions to automatically cross compile a project after each push. The cross compile build is using the YIO Buildroot toolchain on Linux.
The generic setup & build must be reusable for every Qt integration project.

## Current Behavior or Design
The build setup is copy pasted in every YIO project requiring a Qt cross compile build.

## Possible Sol

[2020-04-06 16:24] zehnm commented on #425
Initial GitHub action is ready: [zehnm/yio-crosscompile-action@master](https://github.com/zehnm/yio-crosscompile-action)

[2020-04-15 13:45] #414 closed, assigned to martonborzak

[2020-04-15 18:36] martonborzak opened #427 "Add PIN code to protect profiles"
**Is your feature request related to a problem? Please describe.**
Sometimes you would like to protect switching to a profile. For example you have created a profile for your children, without the settings page.

**Describe the solution you'd like**
Add the option to set a PIN code associated with a profile.

[2020-04-15 18:41] martonborzak opened #428 "Turn on remote configuration when the application starts with button press combination"
**Is your feature request related to a problem? Please describe.**
It could happen that you end up locking yourself out from the Settings page, if you remove the settings page from all the profiles. In this case, it is not possible to turn on remote configuration.

**Describe the solution you'd like**
When the application start, holding down button combinations will turn on the remote configuratio

[2020-04-24 20:45] #302 closed, assigned to martonborzak

[2020-04-30 12:37] #428 closed, assigned to martonborzak

[2020-04-30 12:44] carp3-noctem opened #429 "Wi-Fi Setup Passcode Input Enhancement"
**Is your feature request related to a problem? Please describe.**
When typing in Wi-Fi Credentials it is hard to know if the pressed Keys are correct. There is no number to * Transition in the Passcode field (as in iOS as example), nor an option to display the Credential in Plain Text.

**Describe the solution you'd like**
Implementation of a visible / unvisible button for the credentials.
Or imp

[2020-05-02 15:36] #406 closed, assigned to zehnm

[2020-05-02 15:36] #418 closed, assigned to martonborzak

[2020-05-02 15:36] #424 closed, assigned to zehnm

[2020-05-02 15:36] #425 closed, assigned to zehnm

[2020-05-02 17:19] #422 closed, assigned to martonborzak

[2020-05-02 17:19] #419 closed, assigned to nobody

[2020-05-02 17:22] #410 closed, assigned to zehnm

[2020-05-02 17:23] #348 closed, assigned to zehnm

[2020-05-02 17:23] #346 closed, assigned to zehnm

[2020-05-02 17:24] #322 closed, assigned to zehnm

[2020-05-11 06:31] zehnm commented on #429
Furthermore, the password field doesn't have input focus, i.e. one first needs to tap into the field before typing in the password.
Users should be able to directly input the password after the screen changes.

[2020-05-11 18:10] martonborzak commented on #416
@KarlKiel would that make sense that press and holding on the `up` and `down` arrows would open/close the shades, but just tapping them would move them up/down?

[2020-05-11 18:12] #420 closed, assigned to nobody

[2020-05-11 18:14] #305 closed, assigned to nklerk

[2020-05-11 18:47] KarlKiel commented on #416
Hi Martin, holding the button makes sense ideally than it would be good to have at least a step based approach - so holding the button will change blinds in several steps, as different angles will fulfill different tasks - e.g. sun shading will be around 100 - 75% openness whereas sight protection will be at 50 or 25% and than off course  completely closed at 0% openness for darkening up. Standard

[2020-05-11 20:04] martonborzak commented on #416
Thanks for the example and explanation @KarlKiel ! Will take a detailed look at it and come up with a way to implement it.

[2020-05-12 07:46] #429 closed, assigned to martonborzak

[2020-05-12 13:10] Shepless opened #434 "Unable To Update Config"
## Description
On the latest build of the remote software and also home assistant integration, I cannot update the remotes configuration, it just shows a toast message saying it cannot be updated. After looking at the logs it is valid schema validation:

[code]
I removed the config-schema.json file to stop any validation at all and it still failed validation.

## How to Reproduce
Steps to reproduc

[2020-05-13 15:43] martonborzak opened #435 "Battery remaining time fluctuates"
## Description
Remaining battery life is not consistent. When there is high power usage, when the remaining time is sampled an calculated, it will show a much different remaining time than before.

## How to Reproduce
Steps to reproduce the behavior:
1. Leave the remote untouched for a while
2. Check the remaining time
3. Start doing stuff in the UI for a little bit
4. Check the remaining time

##

[2020-05-13 16:36] cheesykyle commented on #390
+1 for the configurable hardware buttons. For me personally, this is the most important feature. The ability to assign them to scripts, rest_commands, etc from Home Assistant really makes the remote complete. To be able to assign the buttons for Media Player entities and others would create a lot of flexibility for different use cases.

[2020-05-13 18:18] cheesykyle commented on #391
Currently the entity is hard coded for Celsius, including the max and min temperatures. This makes it impossible to set the temperature on imperial entities as the temperature ranges are outside of the acceptable range.

Perhaps an option in settings can allow for toggling between metric and imperial units across the board for all entities that may need it.

[2020-05-13 18:19] martonborzak commented on #391
Good point!

[2020-05-14 07:29] sunfang1cn opened #436 "Please ci Chinese Simplified translation"
![image](https://user-images.githubusercontent.com/926867/81905683-9fe0ec00-95f7-11ea-8cce-5d86d4701054.png)
I have finished Chinese Simplified translation on crowdin.com , please check in it to new releases

[2020-05-14 20:39] martonborzak commented on #436
@sunfang1cn a pre-release is automatically created when a new translation arrives. You can download that and follow the instructions here to manually update the application until we're ready with the software update:
[https://community.yio-remote.com/t/troubleshooting-remote/526](https://community.yio-remote.com/t/troubleshooting-remote/526)

[2020-05-14 20:39] #436 closed, assigned to nobody

[2020-05-15 16:01] newatschoen opened #439 "webhook action (basic feature)"
dear all,

it would be great to implement asap a webhook function, because you can use it for more or less everything in a smart home world....

e.g. create an action "Sonos on" and send a "http get" url from the remote to the smart home system...

This has the advantage to directly support countless unsupported systems :)

and nearly everybody can use directly this nice yio remote

[2020-05-15 16:23] Shepless commented on #439
Nice idea @newatschoen I guess we would need to figure out a generic message structure that can communicate all of the various events/actions the remote does, I think that will be the trickiest part.

[2020-05-16 05:26] newatschoen commented on #439
thx @Shepless :)

[2020-05-16 16:21] martonborzak commented on #434
It's probably the schema file. That needs to be revised.

[2020-05-17 10:46] martonborzak opened #442 "Fix enum in QML"
https://github.com/YIO-Remote/remote-software/blob/d81926859242f2791a64ccf1e6f9e2f9a6e80db8/basic_ui/settings/System.qml#L122

[2020-05-17 12:25] martonborzak commented on #391
@cheesykyle this should be fixed in the upcoming update.

[2020-05-18 08:09] nickprice101 opened #449 "Additional commands added to mediaplayer"
Addition of new commands to extend the functionality of the mediaplayer entity.

## Expected Behavior or Design
Add the following context items: SHUFFLE, ADD_TO_QUEUE, CONNECT
Add the following associated commands: SHUFFLE, ADD_TO_QUEUE, GET_SPEAKERS, CHANGE_SPEAKERS
These appear to be pretty generic features that many media players would support. The speakers ones extend the functionality so you

[2020-05-18 08:17] nickprice101 opened #450 "Add additional media type to mediaplayer"
Add Movies, Shows, Episodes to media type definitions.

## Expected Behavior or Design
Component does not support filtering by video types in the search.
Many media players uspport vide playback. It would be to extend functionality to allow filtering and searching based on these criteria. They are aligned with existing types so this is hopefully superficial?
Tracks = Espisodes = Movies
Albums = Tv

[2020-05-18 08:19] nickprice101 commented on #449
ContextMenu QML would also need updating.

[2020-05-18 08:31] KarlKiel opened #451 "Have several "Favorites" pages"
It would offer much more freedom in the way of usage if it was possible to have more "favorite" pages and the chance to rename them - or in other words the possibility to have pages that directly show entities without the "group" feature - which is great, but for some things I think direct entity access makes more sense.
I see that groups perfectly make sense for e.g. rooms with different types of

[2020-05-18 09:38] nickprice101 opened #452 "Add adb support"
Add adb to the YIO image so that android devices can be directly controlled.

**Is your feature request related to a problem? Please describe.**
Expands the functionality of the remote so that it can directly interact with common media devices (i.e Fire TV).

**Describe the solution you'd like**
Adb pre-installed on image or via update.

**Describe alternatives you've considered**
Use of proxy suc

[2020-05-19 05:36] nickprice101 commented on #450
Additionally “Seasons” would be good to add but then this would require a new Seasons view (modified version of the Album view with click on name?) that allows the user to drill down an extra level?

[2020-05-21 11:45] martonborzak opened #454 "Add Swiss German to translation files"
Add Swiss German to translation files

[2020-05-26 12:38] bartmeuris opened #461 "Attempting to remove duplicate dock entries in config.json crashes remote"
## Description
Due to a config issue (/firstrun wasn't deleted), somehow, multiple identical entries of the dock configuration had been added to the /boot/config.json, as seen here from the web ui (see screenshot below)

and here in the `config.json`:

[code]

Trying to delete one of these entries from the web interface resulted in a crash, rebooting the remote (ssh was disconnected).

## How to R

[2020-05-27 07:39] #461 closed, assigned to nobody

[2020-05-27 22:03] dakaix opened #462 "Remote intermittently stops responding when taken off charge"
## Description
Am intermittently seeing the remote fail to respond after being lifted off of the dock. The screen shows the battery charge status or time + battery screen's and doesn't respond to touch or buttons. Have to SSH into the Pi and reboot it before the screen responds again

## How to Reproduce
Steps to reproduce the behavior:
1. Place remote on charge
2. Lift the remote out of the dock

[2020-05-28 19:49] dakaix commented on #462
Tested now with 0.4.7, same behaviour exists however instead of showing the charging screen it will often show nothing at all.

[2020-05-28 19:52] dakaix opened #463 "Make the Remote SD card read-only"
**Is your feature request related to a problem? Please describe.**
Currently the remote mounts the /boot and / partitions as read-write and writes logs to /var/log. Over time this will cause the Micro SD card to wear out.

**Describe the solution you'd like**
Ideally the remote would re-mount the partitions as read-only, and have the logs kept in tmpfs (i.e. volatile storage). Optionally these cou

[2020-05-28 20:44] zehnm commented on #463
I'll move this issue to the remote-os project which is responsible for the Linux system and SD card image.

[2020-05-28 21:14] zehnm commented on #462
Additional information since I've noticed this bug as well once in a while:
- The issue seems with the battery qml card being "stuck" on top, but the app still reacts to touch input and gives haptic feedback.
- Sometimes it's "self healing": put it back in dock, wait a while, take it out and it works again as expected.

Unfortunately I could not find a way yet to re-produce it to track down the ex

[2020-05-29 06:50] martonborzak commented on #462
Please also provide logs from that time, so it's easier to track down the problem. Thanks!

[2020-05-29 06:52] #344 closed, assigned to nklerk, martonborzak

[2020-05-29 06:53] martonborzak commented on #231
Is there still a need for this mode? What do you think @zehnm ?
We have mock hardware things, so the app can run on any device without getting error messages for battery gauge, etc.

[2020-05-30 08:55] martonborzak commented on #434
This was fixed by updating the `config-schema.json`

[2020-05-30 08:55] #434 closed, assigned to nobody

[2020-05-30 08:58] martonborzak opened #464 "Update `media_player` entity type"
The `media_player` entity type needs to be updated with

- [ ] multiroom support
- [ ] make use of media types

Related issues:
#450 #449 #421 #283

[2020-05-30 09:10] martonborzak opened #465 "Test issue"

[2020-05-30 09:16] #465 closed, assigned to nobody

[2020-05-30 09:16] martonborzak opened #466 "Test issue"

[2020-05-30 09:59] #466 closed, assigned to nobody

[2020-05-31 12:57] wayfarer003 commented on #231
After checking back into the project after some time.  If it is fairly simple to change modes / behavior without this feature then it would be ok in my mind to close or back burner this request.

[2020-05-31 22:53] wayfarer003 opened #467 "Physical button press and releases are sometimes skipped"
## Description
In working with the remote 0.4.1-4, I find that quite often a press or release of the same physical button often results in a missing state change.  This can be problematic for certain devices suck as a Roku where a long button press can be used to navigate much faster thru the menus....ie press and hold.

I took a look at the code and I noticed the following code segment:
// mcp230

[2020-06-01 06:12] martonborzak commented on #467
The MCP23017 is connected to the Pi with one GPIO. So when there's an interrupt on the MCP23017, we don't know what caused that. That's why we need to read the registers after every interrupt to check.

I don't know if QFileSystemWatcher is better or not, but I will test it for a couple of days to see if there's a difference in battery life.

I have to look up the datasheet of the expander IC to s

[2020-06-01 06:21] martonborzak commented on #467
I've created a feature branch for this: https://github.com/YIO-Remote/remote-software/tree/feature/button-interrupt-fix

[2020-06-01 08:28] B-Hartley opened #468 "Spelling error in log DEBUG "transslation""
I realise this is trivial, but thought you would like to know.

Typo in....
transslation should be translation

[2020-06-01 08:33] #468 closed, assigned to nobody

[2020-06-01 10:38] martonborzak commented on #467
@wayfarer003 I have been testing this for a couple of hours and it seems like it works. I haven't noticed any higher CPU usage. Actually the whole UI seems snappier :) Probably because of the constant trigger before was causing a bit of slowdown :)

[2020-06-01 12:43] wayfarer003 commented on #467
Ok, nice.  Glad that this is working.
I was thinking about this last night a bit and I see a couple of areas where the routine could be improved.  But, I am not sure about how it would be coded.

First off, I vote that we remote the GPIO is 0 check as I believe this could be a source of missing interrupts.  We don't really know how fast the rPi is in servicing this and if its late we would have mi

[2020-06-01 14:41] martonborzak commented on #467
Thanks again @wayfarer003! Good points! I've adjusted the code, so now after every interrupt I am reading the GPIO state of the GPIO expander and sending a signal according to that. If you want, you can give it a try in `feature/button-interrupt-fix`

[2020-06-01 15:45] wayfarer003 commented on #467
Gave it a try.  Seems pretty solid so far.
I don't see any apparent button press skips like I was seeing before.
Hopefully, others will be able to tell....I was previously seeing at times where the remote would advance the setup menu upon button release rather than press...not seeing that anymore.

[2020-06-01 16:03] #467 closed, assigned to nobody

[2020-06-02 01:22] wayfarer003 opened #470 "Button press during "Dim" is ignored / skipped"
## Description
When the remote is in power state "DIM" if physical button is pressed the remote will transition out of this power state to "ON".  But, the button press itself will not take action.
This seems counter intuitive as the remote is still "on" and should be able to respond.

## How to Reproduce
1.  Allow remote to enter DIM mode.
2.  Press a physical button such as Left / Right.

## Expe

[2020-06-02 14:48] martonborzak commented on #470
This was done like this on purpose. Exception is the volume keys. You might not see the display well and pressing a button would do something unexpected if you think you're in a different part of the app.

[2020-06-02 21:30] wayfarer003 commented on #470
ok.  What about changing this to be a setup option and switching this to a RFE instead of a bug ?

[2020-06-03 16:51] martonborzak commented on #470
Sure. Not sure if it's worth the effort to code this. But let's change it to a feature request and see if  how many would like this as well. It will be low priority at the moment.

[2020-06-04 15:27] zehnm commented on #231
@martonborzak I think we can close this issue, especially with all the new configuration options.
The "real developer image" is covered in YIO-Remote/remote-os#11 which will add USB, other displays (e.g. Pimoroni Hyperpixel) and whatever seems required to play around with remote-software on a regular RPi.

[2020-06-04 15:28] martonborzak commented on #231
Great, I'm closing this issue then.

[2020-06-04 15:28] #231 closed, assigned to nobody

[2020-06-06 08:50] ChristianRiedl commented on #369
@zehnm

Here a summary of my requirements and ideas, currently implemented in the apilogger feature branch.

- **Log targets** all category logs are routed via _qInstallMessageHandler_ to a central function which distributes the messages to targets which can be enabled / disabled by logger (and yio) api.
    - QtCreator Console
    - Files (currently implemented writing normal files) can be replac

[2020-06-06 11:15] zehnm opened #473 "Unit system is not persisted, checkboxes are not mutually exclusive"
## Description
Changing the unit system in the systems menu is neither persisted nor read from the configuration file. The configuration option is also missing in the json schema.
Furthermore, the check boxes are not mutually exclusive and behave weird: e.g. both unchecked, instead of toggling between metric and imperial.

## How to Reproduce
Steps to reproduce the behavior:
1. Go to Settings
2. C

[2020-06-06 18:20] pr11me opened #475 "Album art not updated on media player card"
## Description
When the media player entity card is opened and you skip a title, the album art is not updated. Closing the card, the art is loaded and when entering the card again the new art is shown.

## How to Reproduce
Steps to reproduce the behavior:
1. Open media player card
2. Skip title, either directly on the card or externally e.g. on phone in case of chromecast
3. Album art remains the

[2020-06-07 12:51] #442 closed, assigned to zehnm

[2020-06-07 14:02] #473 closed, assigned to zehnm

[2020-06-07 14:15] zehnm opened #478 "Uptime in systems menu no longer working"
## Description
The uptime information in the systems menu is no longer working. It stays empty.

## How to Reproduce
Steps to reproduce the behavior:
1. Go to Settings
2. Click on System
3. Scroll down to Uptime
4. See empty field

## Expected behavior
Uptime is shown in systems menu and keeps updating.

## Your Environment
* Version used: 0.4.3
* Running on:
  - YIO Remote
* Operating System and

[2020-06-07 14:51] zehnm commented on #478
This requires an updated remote-os or at least a manually patched `/opt/yio/scripts/uptime.sh` shell script with the following command:

    uptime | awk -F'( |,|:)+' '{d=h=m=0; if ($7=="min") m=$6; else {if ($7~/^day/) {d=$6;h=$8;m=$9} else {h=$6;m=$7}}} {print d+0,"d",h+0,"h",m+0,"m"}'

[2020-06-07 15:17] #435 closed, assigned to nobody

[2020-06-07 15:25] #475 closed, assigned to nobody

[2020-06-07 15:32] #421 closed, assigned to nobody

[2020-06-07 15:35] #391 closed, assigned to nklerk, zehnm, martonborzak, carp3-noctem

[2020-06-07 15:36] martonborzak commented on #389
Closing this issue as the initial refactoring is done. It will be an ongoing effort to look for these things.

[2020-06-07 15:36] #389 closed, assigned to nklerk, zehnm, martonborzak, carp3-noctem

[2020-06-07 20:16] martonborzak opened #479 "Add option to reset the remote"
**Is your feature request related to a problem? Please describe.**
The only way to reset the remote at the moment is to reflash the SD card. It would be much more user friendly to provide this option from the UI.

**Describe the solution you'd like**
Add an option to the Settings/System menu to reset the remote. Also add this option to the initial setup screen when no pages are available yet. Add

[2020-06-08 16:27] #479 closed, assigned to martonborzak

[2020-06-08 22:42] pr11me opened #482 "Buttons highlighted on swiping remote cards"
## Description
The buttons on the remote cards are highlighted on press (correct). This highlight is also triggered when swiping between cards (finger rests on button when initiating swipe) and the highlight stays until the button is pressed again.

## How to Reproduce
Steps to reproduce the behavior:
1. Open remote card
2. Swipe to a second remote card where the finger initially rests on a button

[2020-06-09 17:43] #482 closed, assigned to nobody

[2020-06-09 19:03] pr11me opened #484 "Hardware buttons long-press support for remote entity"
**Is your feature request related to a problem? Please describe.**
The remote entity doesn't support long-press of the hardware buttons. This makes navigation and volume changes very tedious.
\
**Describe the solution you'd like**

Long-pressing volume and navigation buttons would send the command repeatedly. Ideally, this would apply to the OK-button, too, which is useful for e.g. the Nvidia Shie

[2020-06-09 19:06] #478 closed, assigned to zehnm

[2020-06-09 19:08] zehnm commented on #478
Note: the above mentioned uptime shell script is no longer required. Now the app directly calls the system api.

[2020-06-09 19:18] zehnm commented on #439
@newatschoen  Please provide more details about the desired functionality.
Would you only like outgoing http requests, e.g. pressing a button on the remote triggers a REST call?

One simple way would be to map the remote entity to REST calls:
- each on-screen button triggers a REST call
- the REST call is configurable in a configuration file:
  - GET / PUT / POST / DELETE
  - Endpoint
  - more opt

[2020-06-10 05:57] martonborzak commented on #484
The OK button won't work with long press, as it's hardwired to turn the remote off on a hardware level. This way even if the system becomes unresponsive, you can still turn the remote off.

[2020-06-10 11:06] newatschoen commented on #439
@zehnm
hi markus - I think this will be finde and "enough" for the beginning :)

So maybe something like "add a virtual button / action button" in the yio remote web ui, with an webhook action like "http get" http://ipadresse/webhook/dothemagic

[2020-06-10 11:15] newatschoen commented on #439
So it could be possible to start lots of actions in a smart home system e.g. "Good night" or "TV scene" or "Arm alarm system" or "Disarm alarm system"

[2020-06-10 11:20] carp3-noctem commented on #454
Shouldn't that be closed with the availability of:
https://crowdin.com/project/yio-remote-translation/de-CH#
@martonborzak

[2020-06-10 11:23] martonborzak commented on #454
yeah, probably :)

[2020-06-10 11:23] #454 closed, assigned to martonborzak

[2020-06-10 11:24] carp3-noctem commented on #452
Peronally i don't like the "speed" of ADB when used to control Devices (e.g. FireTV, SHIELD). So it would be much better, when a Integration provides control of the device itself.

[2020-06-10 15:22] nickprice101 commented on #452
Totally agree. I'm not aware of any documentation to allow direct control of these devices though? There's obviously a mobile app for control but it's not accessible AFAIK and probably never will be. While it is a a bit slow for navigation it opens up a lot of possibilities for queuing content and producing macro-like functions. I've been running an adb server connection on the remote to trial it

[2020-06-10 15:35] bobzer commented on #452
Depending on the need the adb could be great or not.
If it's just for remote (arrow button, enter, back etc) I think the right way would be to use hid via bluetooth, like that the remote would be paired with the android device and could control it as any other remote and so be really responsive.

[2020-06-10 15:37] martonborzak commented on #452
There's bluetooth on the Pi, so it's not that hard to use it. If anyone wants to port this, we would have the basics done and Nvidia Shield support:
https://github.com/Webunity/websocket-to-ble-hid-bridge
https://github.com/Webunity/neeo-driver-nvidia-shield

Obviously we can skip the websocket part :)

[2020-06-10 16:09] nickprice101 commented on #452
Okay. Challenge accepted (although I’m sure someone else could do it better). Tbh I never thought about Bluetooth. Doh. I guess there is still a place for ADB and intents though as this would just provide HID control I guess rather than being able to launch specific content or query the device?

[2020-06-10 16:11] martonborzak commented on #452
I don't know what's possible over Bluetooth, but I assume some commands should be. Qt has a great Bluetooth API, so it shouldn't be too hard. Maybe you can start here, looking at how the dock communication works:
https://github.com/YIO-Remote/remote-software/blob/master/sources/bluetooth.h

[2020-06-10 16:22] bobzer commented on #452
i'm not sure adb is doable over bluetooth but beside that, yes adb can be interesting for instance to have a button that open netflix, or you prefered game or apps etc. it offer a lot more control than just hid.

[2020-06-10 16:30] Nelus82 commented on #452
I don’t have any programming skills, but maybe I could help. I’m a user of the Bluetooth websocket and neeo driver.

In the past i’ve used adb and its to slow.

[2020-06-10 16:47] Nelus82 commented on #452
Maybe a combination in the future. Adb for the shortcuts and the websocket for the hid navigation.

[2020-06-10 21:00] pr11me opened #485 "Overflow (?) in climate entity widget"
## Description
See attached images, huge number displayed. The temperature dial is not functional, it can be moved but does nothing and only the dial is displayed when dialing, no temperature. Also it is in max. position (approx. 5 o'clock ) and when moved counter-clockwise returns to this position immediately. Setting the temperature with DPAD up/down works, although one starts with 0 degrees. On

[2020-06-11 10:21] martonborzak commented on #464
![Screenshot 2020-06-11 at 12 17 01](https://user-images.githubusercontent.com/23139408/84373883-7d81c480-abdd-11ea-89e9-60289940e902.png)

Design sketches for the multiroom part of the UI.
When you tap on the `speakers` icon, you would see all the groups playing with option to change their volumes.
Tapping on the `down-arrow` will open up the group and you'd see all the speakers that can join tha

[2020-06-11 12:22] wayfarer003 commented on #484
I would also like to add in the touch screen buttons to this ask.
At the moment, they only emit upon an onclick which is effectively a release.
It would be ideal if they would emit a press and release.
This would be useful with Roku and any other device that allows for press and hold operations to speed up navigation.

[2020-06-11 12:31] ChristianRiedl opened #486 "Crash in MediaPlayerUtilsWorker::generateImagesReply"
After **upgarding to latest version** I get this error in MediaPlayerUtilsWorker::generateImagesReply at
line 213 `delete m_reply`.
After changing to `m_reply.deleteLater()` it was working well.

FATAL default ASSERT failure in QCoreApplication::sendEvent: "Cannot send events to objects owned by a different thread. Current thread 0x0x90afaab0. Receiver '' (of type 'QNetworkAccessManager') was crea

[2020-06-11 12:43] #486 closed, assigned to nobody

[2020-06-11 12:47] #462 closed, assigned to nobody

[2020-06-12 12:19] zehnm commented on #369
@ChristianRiedl I haven't had the time yet to fully checkout your branch, especially the requirements or changes in the integrations.
I don't really understand the logging category definition within a plugin. In my opinion the definition needs to be in an external configuration file or env var, instead of hard coded in the source. Well, maybe I misunderstood it, I'll get to the code soon...

Never

[2020-06-12 23:11] ChristianRiedl commented on #369
@zehnm
The central question for me is the requirement of a realtime log. I agree that for the **web-configurator** this feature has no high priority. The realtime log is helpful mainly for developers especially when testing on the YIO remote. Having a GUI which shows categories with per level counts and the realtime log and the possibility to change log levels  is **comfortable**. I am used to hav

[2020-06-15 09:17] zehnm commented on #439
I'm currently building a proof of concept. MyStrom WiFi switches are already working :-)
As soon as it reaches alpha state, i.e. most important parameters are configurable and no longer hard-coded, I'll publish my repo. It might take a few days though, I have a bunch of other work at the moment.

If you have API specifications from devices you'd like to have supported, then please post them here.

[2020-06-15 11:47] newatschoen commented on #439
for webhooks against homey it should be like this:

http://[homeyip]/api/manager/logic/webhook/[event]

(via http get)

[2020-06-18 21:29] pr11me opened #488 "DPAD scrolls YIO UI when on remote card"
## Description
When the remote card is open, the DPAD still controls the YIO UI on the page behind it in addition to the remote controls. Exiting and reentering the remote view after this occurs gets rid of the bug.

## How to Reproduce
Steps to reproduce the behavior:
1. Open the remote card
2. Use the DPAD
3. Eventually one will scroll the pages or up and down behind the card, until end is reach

[2020-06-18 21:54] ChristianRiedl commented on #449
**ContextMenu** QML is inside **basic_ui** so I think it should be completly generic using a list of commands with

- Command text
- Optional command icon
- Optional formatting and action flags (center, opacity, close)

As the play commands comes from the media player integrations there should be no restriction to  some commands as they are interpreted only by the integrations. Only the used icons

[2020-06-24 18:58] zehnm commented on #439
I've started the implementation: <https://github.com/zehnm/integration.webhook>
It's currently in its early stages, but the switch entity is already working. I'll add more features and documentation. Once it's mature enough it will most likely be added to the YIO repos.
Please comment here if you need specific features to support your use cases.

[2020-06-24 19:10] zehnm opened #489 "Use non-privileged port for websocket server"
## Expected Behavior or Design
The yio-remote app should not only run on the remote, but also on Linux, macOS and Windows desktops.
Currently, the websocket server cannot be started on Unix systems when the app is running with a regular user account.

## Current Behavior or Design
YIO uses port 946 for the websocket server, which is a privileged port that only root is allowed listening on.

## Pos

[2020-06-24 19:15] martonborzak commented on #489
This also affects the web-configurator and that also needs to be changed.

[2020-06-24 19:18] zehnm commented on #489
Yes, this is a breaking change and needs to be coordinated. Probably best to plan it for the next major release.
If we want to make it configurable, then we can already implement it and do the switch when we see fit. That would also have the benefit, that Linux desktop users can already change it on their systems.

[2020-06-24 19:19] zehnm commented on #489
Please comment:
- Any suggestions for a better port than 1946?
- Make it configurable?

[2020-06-24 19:21] martonborzak commented on #489
Making it configurable could cause more confusion I think. The web configurator also needs to be changed to be configurable then. I would say let's change to 1946 or any other port that works.

[2020-06-28 09:33] newatschoen commented on #439
maybe it is possible to realize something like this (picture is from a habridge configuration page of webhooks) in the webconfigurator of the yio remote web ui

![image](https://user-images.githubusercontent.com/50514831/85943858-0f563500-b933-11ea-9533-8f2db19a8ec5.png)

[2020-07-11 11:52] #485 closed, assigned to nobody

[2020-07-11 12:45] pr11me commented on #485
The issue still persists.

[2020-07-11 12:46] martonborzak commented on #485
Are you using the pre-release?

[2020-07-11 13:15] pr11me commented on #485
Yes the latest.

[2020-07-11 13:16] martonborzak commented on #485
this: Development Build 0.5.2-13-g8a5015eb ?

[2020-07-11 14:19] zehnm opened #492 "Find replacement for unsupported WiringPi library"
## Expected Behavior or Design
All 3rd party libraries are maintained and if possible supported by Buildroot.

## Current Behavior or Design
GPIO access and i2c communication are handled with the WiringPi library.
This library has been deprecated in August 2019 and is no longer maintained: <http://wiringpi.com/wiringpi-deprecated/>
Furthermore it has been removed in the latest [Builroot version 20

[2020-07-11 14:38] pr11me commented on #485
Sry, I didn't properly merge into my fork...now I am up to date.

Well, now the card opens with 0 degrees and one cannot move the knob, although you get haptic feedback and the terminal shows
"DEBUG homeassistant ThreadAdapter sendCommand "climate" "climate.living_room_thermostat" 4 QVariant(int, 2)"
where the number "2" is the current set temp.

I think it's better if the card is set to the curre

[2020-07-11 18:31] zehnm commented on #485
@pri86 If the card shows 0 degree then the issue either comes from home-assistant not providing all values, or the defined climate entity is missing some supported_feature definitions in config.json.
How did you define the climate entity? By hand or with the web-configurator?
For all features to work with the UI it requires min-, max-, target- and temperature. Otherwise the knob doesn't work.

Exa

[2020-07-11 19:33] zehnm commented on #439
Beta testers wanted!
I've implemented a webhook integration supporting switch, blind, light and climate entities. The first test release is ready for your feedback: <https://github.com/zehnm/integration.webhook>
There's no web-configurator support yet, the configuration needs to be done manually in `config.json`. The documentation is not complete yet and needs some rework, but working configuratio

[2020-07-11 19:36] pr11me commented on #485
Ah of course, thank you very much @zehnm, much appreciated. After adding the supported_features it works. Good job!

I noticed that while you can set the temp in increments of 0.5 degrees (which the nest supports), the command being sent truncates the value to int and also in the UI if you set it to x.5 it jumps to x.

[2020-07-17 17:14] Diegoale2000 opened #493 "Option to set clock/time format to 12 hr"
so far we are able to change timezone through SSH, but no way to set the clock to 12 hr format.

[2020-08-10 19:18] zehnm commented on #492
After testing direct SMBus communication and digging around the WiringPi library, the effort wouldn't be too big replacing WiringPi. However, WiringPi already uses SMBus for i2c! Therefore I don't see an urgent need replacing WiringPi, as long as we can still easily use it in Buildroot.
I still need to look into libgpiod though.

[2020-08-11 02:08] fengjiannan2010 opened #495 "Can Raspbirry 4 be supported later?"
Hello, I am from China and I am very interested in seeing your project. Can I support Raspberry 4 in the future? YIO Store is temporarily unavailable and can open source PCB and 3d printing shells. Can support the official version of Raspbian system

[2020-08-11 03:24] fengjiannan2010 opened #496 "Rpi 4 And HDMI Display supported?"
Hello, I have Raspberry Pi 4 and Raspberry Pi 3b devices, the supporting 7-inch LCD and HDMI display screens, can I add support? Or tell me the specific adaptation method, I have the ability to code. I will add some functions to adapt to China's smart home control, such as Xiaomi, Ali Smart, Tencent Smart. Thank you

[2020-08-14 11:12] miloit opened #498 "Battery Capacity as parameter in the settings"
## Current Behavior or Design
Only 2500mAh Batteries are useable without recompiling the source code. But there are bigger capacity on the market with the same size

## Possible Solution
Change the variable to a parameter to use also bigger capacity of the batterie
https://github.com/YIO-Remote/remote-software/blob/d67370964b601b4628f9065fa9c1c6c9b55b5b49/sources/hardware/batteryfuelgauge.h#L76

#

[2020-08-15 12:13] zehnm commented on #495
remote-software runs fine on RPi 4, there's not much to add, just the environment needs to be configured correctly:
- At least Qt 5.12.4 with all required add-ons and hardware accelerated eglfs support.
  - See Buildroot configuration in remote-os for required Qt libraries.
  - Qt 5.14 has not been tested yet.
- WiringPi must be installed.
- Hardware devices must be configured in hardware.json
  -

[2020-08-15 12:22] zehnm commented on #496
If you use Raspbian OS, then HDMI is supported out of the box, including common touch screens. I.e. if it's supported on Raspbian, then it also works on remote-software. See Qt documentation about additional screen & touch screen configuration with environment variables (QT_QPA_EVDEV_TOUCHSCREEN_PARAMETERS, QT_QPA_EGLFS_PHYSICAL_WIDTH, QT_QPA_EGLFS_PHYSICAL_HEIGHT, etc).:
- https://doc.qt.io/qt-5/

[2020-08-15 12:30] zehnm commented on #493
I suggest to create a new setting for 12 / 24h mode and don't tie it to the existing imperial / metric setting.
As a second step we should add an option to change the timezone from the UI (or web-configurator).

@martonborzak is it ok for you that I'll add a new configuration entry and try to change the display format? I'll leave the settings screen for you :-)

[2020-08-15 12:34] martonborzak commented on #493
@zehnm sure it's fine with me :)

[2020-08-15 21:36] zehnm commented on #493
Required changes:
- Configuration:
  - Add 24h clock boolean property. Default = true
  - Enhance config json schema
- UI:
  - StatusBar.qml: `timeText.text =  Qt.formatDateTime(new Date(),"hh:mm")`
  - Retrieve 24h clock setting from configuration and set time format accordingly
  - ChargingScreen.qml retrieves value from StatusBar

Nice to have:
- Add 24h clock option in UI settings page
- Enhan

[2020-08-16 10:11] zehnm commented on #493
Currently testing the implementation, PR follows soon.
| Menubar | Configuration |
|-|-|
| <img width="296" alt="12h-clock-menubar" src="https://user-images.githubusercontent.com/17356629/90331974-26bbb100-dfb9-11ea-9b10-763846076dc8.png"> | <img width="296" alt="12h-clock-settings" src="https://user-images.githubusercontent.com/17356629/90331958-fd028a00-dfb8-11ea-9a3b-aa2bc7ded47b.png"> |

[2020-08-29 10:07] zehnm commented on #493
New issue: 12h time format doesn't fit anymore on the charging screen.
Solution: smaller font or display am/pm on new line

[2020-08-29 15:22] #498 closed, assigned to zehnm

[2020-08-31 06:42] zehnm commented on #498
- The battery capacity can be configured in `hardware.json`: batteryFuelGauge.capacity
- This file is located in `/opt/yio/app/hardware.json`
- Attention: at the moment this file will be overwritten when remote-software is updated!
  A similar handling as with the main configuration file config.json might be added later.

[2020-09-05 15:15] zynexiz opened #505 "Factory reset in system menu"
Today it's pretty tricky to do a factory reset on the remote, either you need to flash the SD-card with a downloaded image or know what files to more/delete/create to achieve the same. An mentioned [here](https://community.yio-remote.com/t/remaining-yio-kits-are-available/601/61), another way would be to add a button to the system settings that run a script that do this.

In the post, zehnm explai

[2020-09-11 16:18] #493 closed, assigned to zehnm

[2020-09-14 10:00] fanderzzon opened #508 "Remote entity UI has blank pages and areas"
## Description
The UI shows a blank page and some areas when some buttons isn't mapped in the remote entity.

## How to Reproduce
Steps to reproduce the behavior:
1. Go to web configurator
2. Click on advanced and scroll down to the remote entity.
3. Map some buttons to YIO Remote but not all.
4. The software will list blank pages and areas if haven't mapped all buttons.

## Expected behavior
The

[2020-09-15 07:29] nikos1988 commented on #508
I also stumbled across this situation. e.g. the channels page. I solved this with a Repeater model

Not sure if this is an elegant solution, but it works

[2020-09-15 08:06] nikos1988 opened #510 "Reboot in Dock leads to unreachable remote via ssh after a while"
## Description
Rebooting the remote while it is docked leads to unreachability after a while. WiFi is probably shut down.

## How to Reproduce
reboot via ssh while remote is docked
wait x mins until WiFi off timeout is reached

## Expected behavior
while the remote is docked it should be reachable via WiFi all of the time

## Your Environment

* Version used: remote-software v0.6.0
* Running on:

[2020-09-15 14:50] martonborzak commented on #510
Hi,

it's programmed the way you describe as expected behavior. Wifi is always on if it is in the dock and the dock is plugged in.
I tried to reproduce the issue, but all 5 times it was on the network.

Could you try to look into the logs for that specific timeframe where this issue happens?

[2020-09-16 10:49] nikos1988 commented on #510
[remote_log.txt](https://github.com/YIO-Remote/remote-software/files/5231624/remote_log.txt)

I removed some log entries that belong to my own intergration.

[2020-09-16 10:52] nikos1988 commented on #510
I added the log. I forgot to mention that I stopped the app via "systemctl stop app" before rebooting.

The remote was at all times in the dock and I did not touch it.
At "Sep 16 12:16:59" the wifi is stopped. Pretty much 30mins after the reboot. My wifi off timer ist set to 30mins also.

[2020-09-18 06:43] zehnm commented on #505
@martonborzak The reset handling is ready for UI integration. I've already added a button the system menu, but it's disabled. What's missing is a user confirmation before doing the reset. Could you add this?

[2020-09-18 07:02] zehnm opened #511 "Initial setup: clear networks after failed WiFi connection attempt"
## Description
The wpa_supplicant configuration might get an invalid network configuration entry, if during the initial WiFi setup the user selected a wrong network with a non-matching password and then retries with the correct network.

## How to Reproduce
Steps to reproduce the behavior:
1. Initial setup after factory reset or with a new SD card image
2. Select language & country
3. In WiFi setu

[2020-09-18 07:14] zehnm commented on #496
Closing issue because remote-software already runs on any RPi and on HDMI displays.
In remote-software only the `hardware.conf` configuration file needs to be adapted to a non remote-os environment. I.e. change or disable any devices or i2c buses. For hdmi, the display control needs to be disabled, otherwise it wants to communicate with the parallel display which leads to errors and timeouts.

[2020-09-18 07:14] #496 closed, assigned to nobody

[2020-09-18 07:18] zehnm commented on #495
Remote-software runs on RPi 4.
Closing due to duplicate, see instructions in #496

[2020-09-18 07:18] #495 closed, assigned to nobody

[2020-10-12 06:07] zehnm commented on #369
I'm rewriting the Logger class this week since there have been no pull requests and on Discord users reported further issues and crashes in regards to logging.

Planned changes:
- Using journald as logging backend
  - Latest remote-os images have Qt journald support. Enabled with: `QT_LOGGING_TO_CONSOLE=0`
  - For this to work the default Qt message handler must be used, or at least chained within

[2020-10-15 19:51] #369 closed, assigned to zehnm, martonborzak

[2020-10-16 13:24] zehnm opened #513 "Initial setup: Dock setup fails due to bluetooth errors"
## Description
During the initial setup the dock cannot be setup and integrated into the wifi network. According to the system logs the Bluetooth communication fails.

## How to Reproduce
Steps to reproduce the behavior:
1. Create a fresh SD card image
2. Perform setup until dock integration
3. Make sure the dock led is blinking: ready for integration
4. See error

## Expected behavior
It just wor

[2020-10-16 13:43] #489 closed, assigned to zehnm

[2020-10-16 20:42] zehnm commented on #513
Good news: it's not generally broken :-) But there seem some issues with the 4.19 kernel and RPi firmware.
E.g. https://github.com/raspberrypi/firmware/issues/1150 (even though this is with a RPi 3B)

With some test code calling `BluetoothControl::lookForDocks()` during app startup and `systemctl restart bluetooth` after journalctl showed `hci0: last event is not cmd complete (0x00)` kernel errors

[2020-10-26 17:03] zehnm commented on #357
Closing: we don't have the resources nor knowledge to implement iOS support at the moment.
Please contact us, if you are interested to take on this task.

[2020-10-26 17:03] #357 closed, assigned to nobody

[2020-10-26 17:04] zehnm commented on #358
Closing: we don't have the resources nor knowledge to implement Android support at the moment.
Please contact us, if you are interested to take on this task.

[2020-10-26 17:04] #358 closed, assigned to nobody

[2020-10-26 17:06] zehnm commented on #412
Unfortunately nobody in the core team uses IOBroker.
Please contact us, if you are interested to take on this task.

[2020-10-26 17:08] zehnm commented on #439
Has anyone tested my beta release so far and has some feedback?

[2020-10-27 19:56] zehnm commented on #513
Dock setup works again in remote-os v1.1.0 release!

[2020-10-27 19:56] #513 closed, assigned to zehnm

[2020-11-19 18:28] miloit opened #518 "Frozen in standby"
## Description
If you add a wrong value into the config manually or via web configuration
for example

[code]

than the remote is entering in standby and is frozen

`2020-11-19 19:22:22:159 CET DEBUG [yio.dev.display]:    Entering standby        [../sources/hardware/linux/arm/displaycontrol_yio.cpp:87]`

## How to Reproduce
Steps to reproduce the behavior:
Enter a senseless value into the config o

[2020-12-15 16:54] miloit opened #519 "Polling timer not working properly"
The polling timer isn't fired.

So that means no update by polling timer.

[2020-12-15 17:00] zehnm commented on #519
@miloit Please fill out the bug template when opening an issue. We need more information and a detailed description so we can reproduce the issue and fix it. There are many timers at various places...

[2020-12-15 17:32] miloit commented on #519
@zehnm I can not really fill out more I only tested it with an break point in the Qt creator. As well in the openhab binding no debug is written in the log.

[2020-12-15 17:52] zehnm commented on #519
Well, with so little information I'm afraid I can't do anything, because I can't guess what the issue is.
What are you trying to achieve?
What doesn't work?
Where is the issue? Is it in remote-software, e.g. wifi polling, or inside an integration, e.g. connection polling?
Which polling timer? Source file? etc. etc.

[2020-12-15 18:06] miloit commented on #519
it's running now after a restart

[2020-12-15 18:06] #519 closed, assigned to nobody

[2021-01-05 08:01] zehnm opened #521 "Update cpplint to 1.5.2 or newer to fix Qt signal false positives"
## Expected Behavior or Design
cpplint correctly handles Qt signal and slot definitions in header files and doesn't mark them as errors.

## Current Behavior or Design

`public slots:` must be marked with `// NOLINT` to disable the false positive.

## Possible Solution

Upgrade cpplint to 1.5.2.

## Detailed Description and Additional Information

- https://github.com/cpplint/cpplint/pull/99
- htt

[2021-01-10 09:47] #511 closed, assigned to zehnm

[2021-01-11 19:22] #521 closed, assigned to zehnm

[2021-01-18 17:18] jadlers opened #525 "Removing entity in web configurator crashes remote"
## Description

When I try to remove an entity in the we configurator the remote crashes with a segmentation fault. It's the same both for entities from the `homeassistant` integration and the YIO dock integration. The output on the remote points to [this line](https://github.com/YIO-Remote/remote-software/blob/master/sources/yioapi.cpp#L200) in `yioapi.cpp`.

## How to Reproduce
Steps to reproduc

[2021-01-24 12:17] Luckyman7471 commented on #464
What requirements do I need in Homeassistant?
I have a mpd player and snapcast clients in homeassistant.

![image](https://user-images.githubusercontent.com/75265948/105629983-7e065d00-5e46-11eb-8af7-3a5f9f865f71.png)

[2021-02-27 17:30] zehnm commented on #525
That's a pretty bad one.
Fun fact: when the integration removal is working, then it reboots your Linux development machine! I'll suppress that, so it only reboots the remote.

[2021-03-01 07:01] #525 closed, assigned to zehnm

[2021-03-03 19:37] jadlers commented on #525
Thanks for fixing it @zehnm !
Oof, I can understand you were confused when it happened!

[2021-04-04 12:17] miloit opened #531 "Disconnection of Entity leads to a crashed remote"
## Description
If an entity is open and the state is set to " Disconnected" the entity crashes and leads to a complete crashed remote

## How to Reproduce
Steps to reproduce the behavior:
1. Open an entity
2. Let the state "Disconnected" be valid
3. Remote is crashed

## Expected behavior
No crashing of remote

[2021-04-11 11:09] zehnm commented on #492
Small update: in remote-os we are now using a custom Buildroot package for a forked WirkingPi repo, since the original repository is no longer online and official Buildroot support has been removed.

[2021-04-11 11:31] zehnm opened #532 "App crashes with mixed integrations.library versions"
## Description
The latest enhancements in integrations.library are no longer backwards compatible, even within the same minor version range. If there are two plugins, one compiled with version 0.7.0 and the other with 0.6.x the app crashes hard without an error message.

## How to Reproduce
Steps to reproduce the behavior:
1. Install one plugin with the latest release
2. Install another plugin wit

[2021-04-14 05:43] miloit opened #534 "Multithreating Option of plugin not running"
## Description
If you activate the

`const bool USE_WORKER_THREAD = true;`

Option in the plugin the plugin won't work du to the fact that the "QML" UI is running on another thread. Si access us blocked.

## How to Reproduce
Steps to reproduce the behavior:
1. Set `const bool USE_WORKER_THREAD = true;` in the plugin compile it
2. App is not running as expected

## Expected behavior

App is running

[2021-04-14 16:54] zehnm commented on #534
@miloit Please provide more information about the issues you are facing. Does it apply to existing plugins or to newly developed ones?

The `USE_WORKER_THREAD` option is for the integration plugins to run in a dedicated thread instead of the main event loop.
This probably needs a bit more documentation :-)
If a plugin uses blocking I/O or long running operations, then a worker thread is required.

[2021-04-14 17:27] miloit commented on #534
Hello @zehnm  so I use the current kodi code pushed into my github and the remote software from here https://github.com/YIO-Remote/remote-software/pull/530#issue-597520164. start kodi and go to the channel view page. Top of the pagae are filter with radio/tv if you click on one you geht thsi error

`QObject::connect: Cannot queue arguments of type 'QQmlChangeSet'
(Make sure 'QQmlChangeSet' is regi

[2021-04-15 20:57] zehnm commented on #534
Ok, so it's an issue with your plugin and not a general issue with the worker thread?
The homey, home-assistant and b&o integrations are all using the worker thread feature and I'm not aware that there's an issue.

[2021-04-15 21:00] miloit commented on #534
@zehnm no also Spotify, openhab has the same issue . I guess it's a problem of the qml and models are in different threads.

[2021-04-15 21:11] zehnm commented on #534
Then this is definitely not a problem with the worker thread, since the Spotify and OpenHab integrations are not using a worker thread. Both set the `Plugin` constructor parameter `useWorkerThread=false`.
I'm closing this issue

[2021-04-15 21:11] #534 closed, assigned to nobody

[2021-04-15 21:12] miloit commented on #534
It's an issue with the worker thread or the worker thread integration. If you activate the worker thread this issue occurs everywhere.

[2021-04-16 09:26] miloit opened #535 "Reopening Multithreating Issue"
## Description
If you activate the

`const bool USE_WORKER_THREAD = true;`

Option in the plugin the plugin won't work due to the fact that the "QML UI" , "QML Model" is running on another thread access us blocked.

## How to Reproduce
Steps to reproduce the behavior:
1. Set `const bool USE_WORKER_THREAD = true;` in the plugin compile it
2. App is not running as expected

## Expected behavior

App

[2021-04-16 17:06] zehnm commented on #532
Fixed with #533 and #537: plugin metadata is checked before loading the plugin. This will resolve incompatible plugin versions if no incompatible changes are introduced in patch versions.

[2021-04-16 17:06] #532 closed, assigned to zehnm

[2021-05-21 09:23] eviltroooper commented on #412
Maybe someone from the Team can help here?

https://github.com/ioBroker/AdapterRequests/issues/354

[2021-11-01 15:57] daes10 commented on #412
I backed the V2. And I hope there is full implementation of The YIO Remote in ioBroker when it arrive! ;)

I am very interested about the integration of this remote in ioBroker. But at the moment i don`t have enough skills to programm that. I hope there are some people out there with enough Knowledge.

[2022-01-28 11:01] #313 closed, assigned to zehnm, martonborzak

[2022-01-28 11:01] #342 closed, assigned to nklerk, martonborzak

[2022-01-28 11:01] #366 closed, assigned to nobody

[2022-01-28 11:01] #387 closed, assigned to nobody

[2022-01-28 11:01] #390 closed, assigned to nklerk, martonborzak, carp3-noctem

[2022-01-28 11:01] #412 closed, assigned to nobody

[2022-01-28 11:01] #413 closed, assigned to zehnm

[2022-01-28 11:01] #416 closed, assigned to nobody

[2022-01-28 11:01] #427 closed, assigned to martonborzak

[2022-01-28 11:01] #439 closed, assigned to zehnm

[2022-01-28 11:01] #449 closed, assigned to nobody

[2022-01-28 11:01] #450 closed, assigned to nobody

[2022-01-28 11:01] #451 closed, assigned to nobody

[2022-01-28 11:01] #452 closed, assigned to nobody

[2022-01-28 11:01] #464 closed, assigned to martonborzak

[2022-01-28 11:01] #470 closed, assigned to nobody

[2022-01-28 11:01] #484 closed, assigned to nobody

[2022-01-28 11:01] #488 closed, assigned to nobody

[2022-01-28 11:01] #492 closed, assigned to nobody

[2022-01-28 11:01] #505 closed, assigned to zehnm, martonborzak

[2022-01-28 11:01] #508 closed, assigned to nobody

[2022-01-28 11:01] #510 closed, assigned to nobody

[2022-01-28 11:01] #518 closed, assigned to nobody

[2022-01-28 11:01] #531 closed, assigned to nobody

[2022-01-28 11:01] #535 closed, assigned to nobody

[2022-01-28 11:01] #36 closed, assigned to nobody

[2022-01-28 11:01] #37 closed, assigned to nobody

[2022-01-28 11:01] #94 closed, assigned to nobody

[2022-01-28 11:01] #193 closed, assigned to nobody

[2022-01-28 11:01] #230 closed, assigned to martonborzak

[2022-01-28 11:01] #283 closed, assigned to nobody

[2022-01-28 11:01] #303 closed, assigned to nobody

[2022-01-28 11:01] #306 closed, assigned to nobody